body {
	overflow-x: hidden;
}

@media (min-width: 42em) {
	body {
		font-size: 18px;
	}
}


section {
	margin-bottom: 5em;
}

/*
 * Fork
 */

.fork {
	display: none;
	position: absolute;
	right: -70px;
	top: 70px;
	padding: .3em 3em;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

@media (min-width: 42em) {
	.fork {
		display: inline;
	}
}

/*
 * Page Header
 */

.header {
	text-align: center;
	padding-bottom: 2em;
}

.header .header__row {
	padding: 1.4em 0;
}

.header--secondary {
	font-size: 0.9em;
	padding: 2em 0 4em;
}

.header--secondary .grid__cell {
	padding: 1em;
}

.logo .image {
	display: inline-block;
	width: 200px;
}

.product-name {
	font-size: 3.5em;
}

@media (min-width: 42em) {
	.product-name {
		font-size: 5em;
	}
}

.product-name span {
	font-size: 0.75em;
	font-weight: normal;
}

/*
 * Page Content
 */
.main {
	padding-top: 2em;
}

/*
 * Nav
 */
.nav {
	font-size: 0.9em;
}

.nav .list__item {
	padding: 0.4em 0;
}

/*
 * Footer
 */
.footer {
	margin-top: 2em;
	padding: 2em 1em;
	border-top: 1px solid #eee;
	font-size: 0.8em;
}

.footer__links {
	text-align: right;
}