body {
	overflow-x: hidden;
}

@media (min-width: 42em) {
	body {
		font-size: 18px;
	}
}

section {
	margin-bottom: 5em;
}

/*
 * Fork
 */

.fork {
	display: none;
	position: absolute;
	right: -70px;
	top: 70px;
	padding: .3em 3em;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

@media (min-width: 42em) {
	.fork {
		display: inline;
	}
}

/*
 * Page Header
 */

.header {
	text-align: center;
	padding-bottom: 2em;
}

.header .header__row {
	padding: 1.4em 0;
}

.header--primary {
	background: #ff7043;
	background: -moz-linear-gradient(left, #f63b00 0%, #ff7043 50%, #f63b00 100%);
	background: -webkit-linear-gradient(left, #f63b00 0%, #ff7043 50%, #f63b00 100%);
	background: linear-gradient(to right, #f63b00 0%, #ff7043 50%, #f63b00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f63b00', endColorstr='#f63b00', GradientType=1);
}

.header--secondary {
	font-size: 0.9em;
	padding: 2em 0 4em;
}

.header--secondary .grid__cell {
	padding: 1em;
}

.logo .image {
	display: inline-block;
	width: 200px;
}

.product-name {
	font-size: 3.5em;
}

@media (min-width: 42em) {
	.product-name {
		font-size: 5em;
	}
}

.product-name span {
	font-size: 0.75em;
	font-weight: normal;
}

/*
 * Page Content
 */
.page-header {
	border-bottom: 1px solid #eee;
}

.main {
	padding-top: 2em;
	padding-bottom: 2em;
}

/*
 * Nav
 */
.nav {
	font-size: 0.9em;
}

.nav .list__item {
	padding: 0.4em 0;
}

.nav .list__item.active {
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: 0;
	border-radius: 4px;
	background-color: #42A5F5;
}

.nav .list__item.active .link {
	color: #fff;
}

/*
 * Footer
 */
.footer {
	padding: 2em 1em;
	font-size: 0.8em;
}

.footer--page {
	padding: 3em 2em;
	margin-top: 3em;
	border-top: 1px solid #eee;
}

.footer__links {
	text-align: right;
}

/*
 * Grid outlines
 */

.grid--demo.grid {
	border: 2px solid #ff69b4;
}

.grid-key {
	font-weight: bold;
}

.grid-key--grid {
	color: #ff69b4;
}

.grid-key--grid-cell {
	color: #00bfff;
}

.grid-key--padding {
	color: #66bb6a;
}

.grid--demo .grid__cell {
	border: 2px solid #00bfff;
	background-color: #b2f5b5;
}

.grid-text {
	background-color: #fff;
}