<footer class="grid footer">
	<div class="grid__cell grid__cell--width-70">
		Built in England &copy;<br>
		<a class="link" href="https://www.browserstack.com/">Thanks to BrowserStack</a>
		<i class="fa fa-chrome"></i> <i class="fa fa-firefox"></i> <i class="fa fa-safari"></i> <i class="fa fa-edge"></i> <i class="fa fa-internet-explorer"></i>
	</div>
	<div class="grid__cell grid__cell--width-30 footer__links">
		<a class="link" href="https://twitter.com/blazecss"><i class="fa fa-twitter"></i> Twitter</a>
	</div>
</footer>