<a class="fork button button--primary" href="https://github.com/BlazeCSS/blaze">
	<i class="fa fa-code-fork button__icon-left"></i>
	Fork me on GitHub
</a>

<div class="header u-bg--orange u-color--white">
	<div class="container container--small">
		<div class="grid">
			<h1 class="grid__cell grid__cell--offset-25 grid__cell--width-50">
				<a href="/"><img class="image" src="/images/blaze.png"></a>
			</h1>
		</div>

		<div class="product-name u-color--white">Blaze<span class="u-color--darker-orange">_CSS</span></div>

		<div class="header__row u-color--white">
			Open source modular CSS framework providing great structure for building websites quickly
		</div>

		<div class="header__row u-color--white">
			<ul class="list list--inline">
				<li class="list__item">Small size</li>
				<li class="list__item">Modular</li>
				<li class="list__item">Customisable</li>
			</ul>
		</div>

		<p class="paragraph header__row">
			<a class="button button--orange u-bg--dark-orange"
				 href="https://raw.githubusercontent.com/BlazeCSS/blaze/master/dist/blaze.min.css" download>
				<i class="fa fa-download button__icon-left"></i>Download</a>
			<a class="button button--primary"
				 href="/getting-started/install">
				<i class="fa fa-book button__icon-left"></i>Docs</a>
		</p>

		<p class="paragraph header__row">
			<small>
				<span class="badge">v1.0.0-rc7</span>
				<a class="link link--white pillar-box--medium" href="https://github.com/BlazeCSS/blaze">
					<i class="fa fa-github-alt"></i> GitHub Project
				</a>
			</small>
		</p>
	</div>
</div>

<div class="header header--secondary u-color--white u-bg--primary">
	<div class="container container--large">
		<div class="grid grid--wrap grid--small-full grid--medium-full">
			<div class="grid__cell grid__cell--width-100">
				{{ content }}
			</div>
			<div class="grid__cell grid__cell--width-25 window-box--super">
				<i class="fa fa-tablet fa-2x u-color--lighter-blue"></i>
				<i class="fa fa-laptop fa-3x u-color--light-blue"></i>
				<i class="fa fa-desktop fa-5x u-color--darker-blue"></i>

				<h3 class="heading heading--medium">Responsive</h3>

				<p class="paragraph">
					Built with a mobile first approach Blaze is fully responsive.
				</p>
			</div>
			<div class="grid__cell grid__cell--width-25">
				<i class="fa fa-sitemap fa-5x u-color--lighter-blue"></i>

				<h3 class="heading heading--medium">Modular</h3>

				<p class="paragraph">
					You can use any part of Blaze in isolation to make your payload small and focused.
				</p>
			</div>
			<div class="grid__cell grid__cell--width-25">
				<i class="fa fa-gears fa-5x u-color--dark-blue"></i>

				<h3 class="heading heading--medium">Custom builds</h3>

				<p class="paragraph">
					In 3 easy steps you can have a custom build with easy to use variables and mixins.
				</p>
			</div>
			<div class="grid__cell grid__cell--width-25">
				<i class="fa fa-balance-scale fa-5x u-color--darker-blue"></i>

				<h3 class="heading heading--medium">Small size</h3>

				<p class="paragraph">
					It might be less than 10kb but its complete and easy to use!
				</p>
			</div>
		</div>
	</div>
</div>