<a class="fork button button--primary" href="https://github.com/BlazeCSS/blaze">
	<i class="fa fa-code-fork button__icon-left"></i>
	Fork me on GitHub
</a>

<div class="page-strip"></div>
<div class="header header--primary">
	<div class="container container--small">
		<div class="grid">
			<h1 class="grid__cell grid__cell--offset-25 grid__cell--width-50">
				<a href="/"><img class="image" src="/images/blaze.png"></a>
			</h1>
		</div>

		<div class="product-name">Blaze<span style="color:#FF7043;font-weight:normal;">_CSS</span></div>

		<div class="header__row">
			Open source modular CSS framework providing great structure for building websites quickly
		</div>

		<div class="header__row">
			<ul class="list list--inline">
				<li class="list__item">Small size</li>
				<li class="list__item">Modular</li>
				<li class="list__item">Customisable</li>
			</ul>
		</div>

		<p class="paragraph header__row">
			<a class="button button--secondary"
				 href="https://raw.githubusercontent.com/BlazeCSS/blaze/master/dist/blaze.min.css" download>
				<i class="fa fa-download button__icon-left"></i>Download</a>
			<a class="button button--primary"
				 href="/getting-started/install">
				<i class="fa fa-book button__icon-left"></i>Docs</a>
		</p>

		<p class="paragraph header__row">
			<small>
				<span class="badge badge--success">v1.0.0-rc10</span>
				<a class="link pillar-box--medium" href="https://github.com/BlazeCSS/blaze">
					<i class="fa fa-github-alt"></i> GitHub Project
				</a>
			</small>
		</p>
	</div>
</div>

{{ content }}