<a class="fork c-button c-button--secondary c-button--small" href="https://github.com/BlazeCSS/blaze">
	<i class="fa fa-code-fork c-button__icon-left"></i>
	Fork me on GitHub
</a>

<div class="page-strip"></div>
<div class="header header--primary">
	<div class="o-container o-container--small">
		<div class="o-grid">
			<h1 class="o-grid__cell o-grid__cell--offset-25 o-grid__cell--width-50">
				<a href="/"><img class="o-image" src="/images/blaze.png"></a>
			</h1>
		</div>

		<div class="product-name">Blaze<span style="color:#FF3D00;font-weight:normal;">_CSS</span></div>

		<div class="header__row">
			Open source modular CSS framework providing great structure for building websites quickly
		</div>

		<div class="header__row o-grid">
			<div class="o-grid__cell">
				<a class="c-button c-button--primary c-button--block hero-button"
					 href="/getting-started/install">Get Started</a>
			</div>
			<div class="o-grid__cell">
				<a class="c-button c-button--ghost-secondary c-button--block hero-button"
					 href="/components/alerts">Components</a>
			</div>
		</div>

		<div class="header__row">
			<small>
				<span class="c-badge c-badge--success u-pillar-box--medium">v{{ site.version }}</span>
				<a class="c-link u-pillar-box--medium"
					 href="/community/forum">
					<i class="fa fa-comments"></i> Forum
				</a>
				<a class="c-link"
					 href="https://cdn.jsdelivr.net/blazecss/latest/blaze.min.css" download>
					<i class="fa fa-download"></i> Download
				</a>
				<a class="c-link u-pillar-box--medium" href="https://github.com/BlazeCSS/blaze">
					<i class="fa fa-github-alt"></i> GitHub Project
				</a>
			</small>
		</div>
	</div>
</div>

{{ content }}
