<h3 class="heading heading--medium">Getting Started</h3>
<ul class="list list--unstyled">
	{% for link in site.navigation-getting-started %}
	{% assign active = nil %}
	{% if page.url == link.url %}
	{% assign active = 'active' %}
	{% endif %}
	<li class="list__item {{ active }}"><a class="link" href="{{ link.url }}">{{ link.text }}</a></li>
	{% endfor %}
</ul>
<h3 class="heading heading--medium">Components</h3>
<ul class="list list--unstyled">
	{% for link in site.navigation-components %}
	{% assign active = nil %}
	{% if page.url == link.url %}
	{% assign active = 'active' %}
	{% endif %}
	<li class="list__item {{ active }}"><a class="link" href="{{ link.url }}">{{ link.text }}</a></li>
	{% endfor %}
</ul>
<h3 class="heading heading--medium">Community</h3>
<ul class="list list--unstyled">
	{% for link in site.navigation-community %}
	{% assign active = nil %}
	{% if page.url == link.url %}
	{% assign active = 'active' %}
	{% endif %}
	<li class="list__item {{ active }}"><a class="link" href="{{ link.url }}">{{ link.text }}</a></li>
	{% endfor %}
</ul>
</ul>