<head>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ "/css/blaze.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/blaze.animations.min.css" | prepend: site.baseurl }}">
</head>