---
layout: page
title: Addresses
---

<p class="paragraph">Addresses in Blaze are essentially a reset to a more consistent style:</p>

<div class="letter-box--medium grid grid--small-full">
	<div class="grid__cell grid__cell--width-50">
		<pre class="pre html"><code class="code code--multiline">&lt;address class="address">
  742 Evergreen Terrace,&lt;br>
  Springfield,&lt;br>
  80085,&lt;br>
  USA&lt;br>
&lt;/address></code></pre>
	</div>
	<div class="grid__cell grid__cell--width-50">
		<address class="address">
			742 Evergreen Terrace,<br>
			Springfield,<br>
			80085,<br>
			USA
		</address>
	</div>
</div>


<p class="paragraph">You can also use <code class="code">.address__heading</code> to add labels:</p>

<div class="letter-box--medium grid grid--small-full">
	<div class="grid__cell grid__cell--width-50">
		<pre class="pre html"><code class="code code--multiline">&lt;address class="address">
  &lt;span class="address__heading">The Simpsons&lt;/span>
  742 Evergreen Terrace,&lt;br>
  Springfield,&lt;br>
  80085,&lt;br>
  USA
&lt;/address></code></pre>
	</div>
	<div class="grid__cell grid__cell--width-50">
		<address class="address">
			<span class="address__heading">The Simpsons,</span>
			742 Evergreen Terrace,<br>
			Springfield,<br>
			80085,<br>
			USA
		</address>
	</div>
</div>