---
layout: page
title: Alerts
---

<p class="c-paragraph">
	Messages that usually appear at the top of the page or container. Blaze alerts are grouped together in an <code class="c-code">.c-alerts</code>
	block.
</p>

<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
			<div class="c-alert">
				<button class="c-button c-button--close">&times;</button>
				Default
			</div>
			<div class="c-alert c-alert--brand">
				<button class="c-button c-button--close">&times;</button>
				Brand
			</div>
			<div class="c-alert c-alert--info">
				<button class="c-button c-button--close">&times;</button>
				Info
			</div>
			<div class="c-alert c-alert--warning">
				<button class="c-button c-button--close">&times;</button>
				Warning
			</div>
			<div class="c-alert c-alert--success">
				<button class="c-button c-button--close">&times;</button>
				Success
			</div>
			<div class="c-alert c-alert--error">
				<button class="c-button c-button--close">&times;</button>
				Error
			</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-alert">
  &lt;button class="c-button c-button--close">&times;&lt;/button>
  Default
&lt;/div>
&lt;div class="c-alert c-alert--brand">
  &lt;button class="c-button c-button--close">&times;&lt;/button>
  Brand
&lt;/div>
&lt;div class="c-alert c-alert--info">
  &lt;button class="c-button c-button--close">&times;&lt;/button>
  Info
&lt;/div>
&lt;div class="c-alert c-alert--warning">
  &lt;button class="c-button c-button--close">&times;&lt;/button>
  Warning
&lt;/div>
&lt;div class="c-alert c-alert--success">
  &lt;button class="c-button c-button--close">&times;&lt;/button>
  Success
&lt;/div>
&lt;div class="c-alert c-alert--error">
  &lt;button class="c-button c-button--close">&times;&lt;/button>
  Error
&lt;/div></code></pre></div>
</div>