---
layout: page
title: Alerts
---

<p class="paragraph">
	Messages that usually appear at the top of the page or container. Blaze alerts are grouped together in an <code class="code">.alerts</code>
	block.
</p>

<div class="grid grid--small-full">
	<div class="grid__cell letter-box--small">
		<div class="alerts">
			<div class="alerts__alert">
				<button class="button button--close">&times;</button>
				Default
			</div>
			<div class="alerts__alert alerts__alert--primary">
				<button class="button button--close">&times;</button>
				Primary
			</div>
			<div class="alerts__alert alerts__alert--secondary">
				<button class="button button--close">&times;</button>
				Secondary
			</div>
			<div class="alerts__alert alerts__alert--success">
				<button class="button button--close">&times;</button>
				Success
			</div>
			<div class="alerts__alert alerts__alert--error">
				<button class="button button--close">&times;</button>
				Error
			</div>
		</div>
	</div>
	<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="alerts">
  &lt;div class="alerts__alert">
    &lt;button class="button button--close">&times;&lt;/button>
    Default
  &lt;/div>
  &lt;div class="alerts__alert alerts__alert--primary">
    &lt;button class="button button--close">&times;&lt;/button>
    Primary
  &lt;/div>
  &lt;div class="alerts__alert alerts__alert--secondary">
    &lt;button class="button button--close">&times;&lt;/button>
    Secondary
  &lt;/div>
  &lt;div class="alerts__alert alerts__alert--success">
    &lt;button class="button button--close">&times;&lt;/button>
    Success
  &lt;/div>
  &lt;div class="alerts__alert alerts__alert--error">
    &lt;button class="button button--close">&times;&lt;/button>
    Error
  &lt;/div>
&lt;/div></code></pre></div>
</div>