---
layout: page
title: Avatars
---

<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-avatar c-avatar u-super">
			<img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
		</div>
		<div class="c-avatar c-avatar u-xlarge">
			<img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
		</div>
		<div class="c-avatar c-avatar u-large">
			<img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
		</div>
		<div class="c-avatar">
			<img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
		</div>
		<div class="c-avatar c-avatar u-small">
			<img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
		</div>
		<div class="c-avatar c-avatar u-xsmall">
			<img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-avatar c-avatar u-super">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
&lt;/div>
&lt;div class="c-avatar c-avatar u-xlarge">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
&lt;/div>
&lt;div class="c-avatar c-avatar u-large">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
&lt;/div>
&lt;div class="c-avatar">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
&lt;/div>
&lt;div class="c-avatar c-avatar u-small">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
&lt;/div>
&lt;div class="c-avatar c-avatar u-xsmall">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
&lt;/div></code></pre></div>
</div>

<h2 class="c-heading">2 images</h2>

<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-avatar c-avatar u-super">
			<img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
			<img class="c-avatar__img" src="https://unsplash.it/200?random">
		</div>
		<div class="c-avatar c-avatar u-xlarge">
			<img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
			<img class="c-avatar__img" src="https://unsplash.it/200?random">
		</div>
		<div class="c-avatar c-avatar u-large">
			<img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
			<img class="c-avatar__img" src="https://unsplash.it/200?random">
		</div>
		<div class="c-avatar">
			<img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
			<img class="c-avatar__img" src="https://unsplash.it/200?random">
		</div>
		<div class="c-avatar c-avatar u-small">
			<img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
			<img class="c-avatar__img" src="https://unsplash.it/200?random">
		</div>
		<div class="c-avatar c-avatar u-xsmall">
			<img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
			<img class="c-avatar__img" src="https://unsplash.it/200?random">
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-avatar c-avatar u-super">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
&lt;/div>
&lt;div class="c-avatar c-avatar u-xlarge">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?random">
&lt;/div>
&lt;div class="c-avatar c-avatar u-large">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?random">
&lt;/div>
&lt;div class="c-avatar">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?random">
&lt;/div>
&lt;div class="c-avatar c-avatar u-small">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?random">
&lt;/div>
&lt;div class="c-avatar c-avatar u-xsmall">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?image=1011">
  &lt;img class="c-avatar__img" src="https://unsplash.it/200?random">
&lt;/div></code></pre></div>
</div>

<h2 class="c-heading">Initials</h2>

<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-avatar c-avatar u-super" data-text="GP"></div>
		<div class="c-avatar c-avatar u-xlarge" data-text="GP"></div>
		<div class="c-avatar c-avatar u-large" data-text="GP"></div>
		<div class="c-avatar c-avatar u-medium" data-text="GP"></div>
		<div class="c-avatar c-avatar u-small" data-text="GP"></div>
		<div class="c-avatar c-avatar u-xsmall" data-text="GP"></div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-avatar c-avatar u-super" data-text="GP">&lt;/div>
&lt;div class="c-avatar c-avatar u-xlarge" data-text="GP">&lt;/div>
&lt;div class="c-avatar c-avatar u-large" data-text="GP">&lt;/div>
&lt;div class="c-avatar c-avatar u-medium" data-text="GP">&lt;/div>
&lt;div class="c-avatar c-avatar u-small" data-text="GP">&lt;/div>
&lt;div class="c-avatar c-avatar u-xsmall" data-text="GP">&lt;/div></code></pre></div>
</div>
