---
layout: page
title: Badges
---

<p class="paragraph">
	They're useful when you want to add additional info. Like a version number of a project or for status messages for individual items.
</p>

<div class="letter-box--medium grid grid--small-full">
	<div class="grid__cell grid__cell--width-50">
		<pre class="pre html"><code class="code code--multiline">&lt;span class="badge">v1.0.0&lt;/span></code></pre>
	</div>
	<div class="grid__cell grid__cell--width-50">
		<div class="letter-box--small">
			<span class="badge">v1.0.0</span>
		</div>
	</div>
</div>

<h2 class="heading heading--small">
	Badge colours
</h2>
<p class="paragraph">
	Badges come in a variety of colours.
</p>
<p class="paragraph">
	To use, add the colour modifier class:
</p>

<div class="letter-box--medium grid grid--small-full">
	<div class="grid__cell grid__cell--width-50">
		<pre class="pre html"><code class="code code--multiline">&lt;span class="badge">default&lt;/span>
&lt;span class="badge badge--black">black&lt;/span>
&lt;span class="badge badge--white">white&lt;/span>
&lt;span class="badge badge--grey">grey&lt;/span>
&lt;span class="badge badge--red">red&lt;/span>
&lt;span class="badge badge--pink">pink&lt;/span>
&lt;span class="badge badge--purple">purple&lt;/span>
&lt;span class="badge badge--blue">blue&lt;/span>
&lt;span class="badge badge--green">green&lt;/span>
&lt;span class="badge badge--yellow">yellow&lt;/span>
&lt;span class="badge badge--orange">orange&lt;/span>
&lt;span class="badge badge--brown">brown&lt;/span></code></pre>
	</div>
	<div class="grid__cell grid__cell--width-50">
		<div class="letter-box--small">
			<span class="badge">default</span>
			<span class="badge badge--black">black</span>
			<span class="badge badge--white">white</span>
			<span class="badge badge--grey">grey</span>

		<div class="letter-box--small">
			<span class="badge badge--red">red</span>
			<span class="badge badge--pink">pink</span>
			<span class="badge badge--purple">purple</span>
			<span class="badge badge--blue">blue</span>
		</div>

			<span class="badge badge--green">green</span>
			<span class="badge badge--yellow">yellow</span>
			<span class="badge badge--orange">orange</span>
			<span class="badge badge--brown">brown</span>
		</div>
	</div>
</div>
