---
layout: page
title: Badges
---

<p class="c-paragraph">
	They're useful when you want to add additional info. Like a version number of a project or for status messages for individual items.
</p>

<div class="u-letter-box--medium o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50">
		<div class="u-letter-box--small">
			<span class="c-badge">v{{ site.version }}</span>
		</div>
	</div>
	<div class="u-letter-box--small o-grid__cell o-grid__cell--width-50">
		<pre class="c-pre html"><code class="c-code c-code--multiline">&lt;span class="c-badge">v{{ site.version }}&lt;/span></code></pre>
	</div>
</div>

<h2 id="colours" class="c-heading c-heading--medium">Colours</h2>

<p class="c-paragraph">
	Badges come as default, primary, secondary, success and error
</p>
<p class="c-paragraph">
	To use, add the colour modifier class:
</p>

<div class="u-letter-box--medium o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50">
		<div class="u-letter-box--small">
			<span class="c-badge">Default</span>
			<span class="c-badge c-badge--primary">Primary</span>
			<span class="c-badge c-badge--secondary">Secondary</span>
			<span class="c-badge c-badge--success">Success</span>
			<span class="c-badge c-badge--error">Error</span>
		</div>
	</div>
	<div class="u-letter-box--small o-grid__cell o-grid__cell--width-50">
		<pre class="c-pre html"><code class="c-code c-code--multiline">&lt;span class="c-badge">Default&lt;/span>
&lt;span class="c-badge c-badge--primary">Primary&lt;/span>
&lt;span class="c-badge c-badge--secondary">Secondary&lt;/span>
&lt;span class="c-badge c-badge--success">Success&lt;/span>
&lt;span class="c-badge c-badge--error">Error&lt;/span></code></pre>
	</div>
</div>

<h2 id="rounded" class="c-heading c-heading--medium">Rounded</h2>

<p class="c-paragraph">
	Make your badges rounded with the <code class="c-code">.c-badge--rounded</code> modifier.
</p>

<div class="u-letter-box--medium o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50">
		<div class="u-letter-box--small">
			<span class="c-badge c-badge--rounded">Default</span>
			<span class="c-badge c-badge--rounded c-badge--primary">Primary</span>
			<span class="c-badge c-badge--rounded c-badge--secondary">Secondary</span>
			<span class="c-badge c-badge--rounded c-badge--success">Success</span>
			<span class="c-badge c-badge--rounded c-badge--error">Error</span>
		</div>
	</div>
	<div class="u-letter-box--small o-grid__cell o-grid__cell--width-50">
		<pre class="c-pre html"><code class="c-code c-code--multiline">&lt;span class="c-badge">Default&lt;/span>
&lt;span class="c-badge c-badge--rounded c-badge--primary">Primary&lt;/span>
&lt;span class="c-badge c-badge--rounded c-badge--secondary">Secondary&lt;/span>
&lt;span class="c-badge c-badge--rounded c-badge--success">Success&lt;/span>
&lt;span class="c-badge c-badge--rounded c-badge--error">Error&lt;/span></code></pre>
	</div>
</div>
