---
layout: page
title: Badges
---

<p class="paragraph">
	They're useful when you want to add additional info. Like a version number of a project or for status messages for individual items.
</p>

<div class="letter-box--medium grid grid--small-full">
	<div class="grid__cell grid__cell--width-50">
		<pre class="pre html"><code class="code code--multiline">&lt;span class="badge">v1.0.0&lt;/span></code></pre>
	</div>
	<div class="grid__cell grid__cell--width-50">
		<div class="letter-box--small">
			<span class="badge">v1.0.0</span>
		</div>
	</div>
</div>

<h2 class="heading heading--medium">
	Badge colours
</h2>
<p class="paragraph">
	Badges come as default, primary, secondary, success and error
</p>
<p class="paragraph">
	To use, add the colour modifier class:
</p>

<div class="letter-box--medium grid grid--small-full">
	<div class="grid__cell grid__cell--width-50">
		<pre class="pre html"><code class="code code--multiline">&lt;span class="badge">Default&lt;/span>
&lt;span class="badge badge--primary">Primary&lt;/span>
&lt;span class="badge badge--secondary">Secondary&lt;/span>
&lt;span class="badge badge--success">Success&lt;/span>
&lt;span class="badge badge--error">Error&lt;/span></code></pre>
	</div>
	<div class="grid__cell grid__cell--width-50">
		<div class="letter-box--small">
			<span class="badge">Default</span>
			<span class="badge badge--primary">Primary</span>
			<span class="badge badge--secondary">Secondary</span>
			<span class="badge badge--success">Success</span>
			<span class="badge badge--error">Error</span>
		</div>
	</div>
</div>
