---
layout: page
title: Base
---

<p class="paragraph">
	Almost all of Blaze's styles build on top of base.css. It's a tiny extension of
	<a class="link" href="https://necolas.github.io/normalize.css/">Normalize.css</a> - A modern, HTML5-ready
	alternative to CSS resets.
</p>
<blockquote class="blockquote">
	<div class="blockquote__body">
		Normalize.css makes browsers render all elements more consistently and in line with modern standards. It precisely
		targets only the styles that need normalizing.
	</div>
	<div class="blockquote__footer"><a class="link" href="https://necolas.github.io/normalize.css">https://necolas.github.io/normalize.css</a></div>
</blockquote>
<p class="paragraph">
	You do not have to use base.css with all of our modules so give them a try and if you're happy without then it's
	your call.
</p>