---
layout: page
title: Breadcrumbs
---

<p class="c-paragraph">
    Breadcrumbs are useful to indicate the navigational route into a website. 
</p>

<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <ol class="c-breadcrumbs">
            <li class="c-breadcrumbs__crumb"><a class="c-link">Home</a></li>
            <li class="c-breadcrumbs__crumb"><a class="c-link">Cars</a></li>
            <li class="c-breadcrumbs__crumb"><a class="c-link">Electric</a></li>
            <li class="c-breadcrumbs__crumb"><a class="c-link">Tesla</a></li>
            <li class="c-breadcrumbs__crumb c-text--loud">P100d</li>
        </ol>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;ol class="c-breadcrumbs">
  &lt;li class="c-breadcrumbs__crumb">&lt;a class="c-link">Home&lt;/a>&lt;/li>
  &lt;li class="c-breadcrumbs__crumb">&lt;a class="c-link">Cars&lt;/a>&lt;/li>
  &lt;li class="c-breadcrumbs__crumb">&lt;a class="c-link">Electric&lt;/a>&lt;/li>
  &lt;li class="c-breadcrumbs__crumb">&lt;a class="c-link">Tesla&lt;/a>&lt;/li>
  &lt;li class="c-breadcrumbs__crumb c-text--loud">P100d&lt;/li>
&lt;/ol></code></pre>
    </div>
</div>