---
layout: page
title: Bubbles
---

<p class="c-paragraph">
	For want of a better word bubbles are tooltips. But we think bubbles sound better than tooltips!
</p>

<h2 class="c-heading c-heading--medium">Basic Bubble</h2>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-bubble c-bubble--top">This bubble is on the top</div>
		<p class="c-paragraph">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit
		</p>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-bubble c-bubble--top">This bubble is on the top&lt;/div></code></pre></div>
</div>

<h3 id="positions" class="c-heading c-heading--medium">Positions</h3>
<p class="c-paragraph">
	Bubbles really need to be positioned with JavaScript to make them most useful. Blaze could have overridden all <code class="c-code">title</code>
	attributes but that seemed too opinionated.
</p>
<p class="c-paragraph">
	<span class="c-bubble c-bubble--right c-text--mono">.c-bubble--right</span>
</p>
<p class="c-paragraph">
	<span class="c-bubble c-bubble--left c-text--mono">.c-bubble--left</span>
</p>
<p class="c-paragraph">
	<span class="c-bubble c-bubble--bottom c-text--mono">.c-bubble--bottom</span>
</p>

<h2 id="animation" class="c-heading c-heading--medium">Animation</h2>

<div class="c-bubble c-bubble--top a-bubble--top" id="animate">This bubble moves!</div>
<d class="u-window-box--medium">
	<button class="c-button c-button--ghost-secondary" type="button" onclick="demo()">Animate</button>
</d>

<script>
	function demo() {
		document.getElementById('animate').classList.remove('a-bubble');
		setTimeout(function () {
			document.getElementById('animate').classList.add('a-bubble')
		}, 50);
	}
</script>

<h3 class="c-heading c-heading--small c-text--mono">.a-bubble</h3>
<p class="c-paragraph">
	Apply the <code class="c-code">.a-bubble</code> class to enable animation on each bubble.
</p>

<h3 class="c-heading c-heading--small"><span class="c-text--mono">--slow, --fast</span></h3>
<p class="c-paragraph">
	Every animation comes with slow and fast modifiers.
</p>

<h3 class="c-heading c-heading--small c-text--mono">--top, --bottom, --left, --right</h3>
<p class="c-paragraph">
	Add one of these modifiers to change the origin of the animation. Default is from the center of the element.
</p>
