---
layout: page
title: Bubbles
---

<p class="paragraph">
	For want of a better word bubbles are tooltips. But we think bubbles sound better that tooltips!
</p>

<h2 class="heading heading--medium">Basic Bubble</h2>
<div class="grid grid--small-full">
	<div class="grid__cell letter-box--small">
		<div class="bubble bubble--top">This bubble is on the top</div>
		<p class="paragraph">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit
		</p>
	</div>
	<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="bubble bubble--top">This bubble is on the top&lt;/div></code></pre></div>
</div>

<h3 class="heading heading--medium">Positions</h3>
<p class="paragraph">
	Bubbles really need to be positioned with JavaScript to make them most useful. Blaze could have overridden all <code class="code">title</code>
	attributes but that seemed too opinionated.
</p>
<p class="paragraph">
	<span class="bubble bubble--right mono">.bubble--right</span>
</p>
<p class="paragraph">
	<span class="bubble bubble--left">.bubble--left</span>
</p>
<p class="paragraph">
	<span class="bubble bubble--bottom mono">.bubble--bottom</span>
</p>