---
layout: page
title: Buttons
---
<div class="button-demo">
	<p class="c-paragraph">
		Probably the first thing people look at when choosing a CSS framework. The common button!
	</p>

	<h2 class="c-heading c-heading--medium">Basic Button</h2>
	<p class="c-paragraph">To make a button a Blaze button add the <code class="c-code">.c-button</code> class to buttons, inputs or links.</p>
	<div class="o-grid o-grid--small-full">
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
			<button type="button" class="c-button">Button</button>
			<input type="button" class="c-button" value="Input">
			<a class="c-button">Link</a>
			<button type="button" class="c-button" disabled>Button</button>
		</div>
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;button class="c-button">Button&lt;/button>
&lt;input type="button" class="c-button" value="Input">
&lt;a class="c-button">Link&lt;/a>
&lt;button class="c-button">Button&lt;/button></code></pre></div>
	</div>

	<h2 id="colours" class="c-heading c-heading--medium">Button Colours</h2>
	<p class="c-paragraph">
		There are four button colour modifiers <code class="c-code">.c-button--primary</code>,  <code class="c-code">.c-button--secondary</code>,
		<code class="c-code">.c-button--success</code> and <code class="c-code">.c-button--error</code>.
	</p>
	<div class="o-grid o-grid--small-full">
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
			<button type="button" class="c-button">Button</button>
			<button type="button" class="c-button c-button--primary">Button</button>
			<button type="button" class="c-button c-button--secondary">Button</button>
			<button type="button" class="c-button c-button--success">Button</button>
			<button type="button" class="c-button c-button--error">Button</button>
		</div>
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;button class="c-button">Button&lt;/button>
&lt;button class="c-button c-button--primary">Button&lt;/button>
&lt;button class="c-button c-button--success">Button&lt;/button>
&lt;button class="c-button c-button--error">Button&lt;/button></code></pre></div>
	</div>

	<h2 id="groups" class="c-heading c-heading--medium">Button Groups</h2>
	<p class="c-paragraph">
		To group related buttons together you can use the <code class="c-code">.c-button-group</code> wrapping element. This will bunch the buttons
		together and remove the spacing between them.
	</p>
	<div class="o-grid o-grid--small-full">
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
			<span class="c-button-group">
				<button type="button" class="c-button c-button--primary">Button</button>
				<button type="button" class="c-button c-button--secondary">Button</button>
			</span>
		</div>
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;span class="c-button-group">
  &lt;button class="c-button c-button--primary">Button&lt;/button>
  &lt;button class="c-button c-button--secondary">Button&lt;/button>
&lt;/span></code></pre></div>
	</div>

	<p class="c-paragraph">
		Adding the <code class="c-code">.c-button-group--rounded</code> modifier will make the first and last buttons rounded.
	</p>
	<div class="o-grid o-grid--small-full">
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
			<span class="c-button-group c-button-group--rounded">
				<button type="button" class="c-button c-button--primary">Button</button>
				<button type="button" class="c-button c-button--secondary">Button</button>
			</span>
		</div>
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;span class="c-button-group c-button-group--rounded">
  &lt;button class="c-button c-button--primary">Button&lt;/button>
  &lt;button class="c-button c-button--secondary">Button&lt;/button>
&lt;/span></code></pre></div>
	</div>

	<h2 id="sizes" class="c-heading c-heading--medium">Button Sizes</h2>
	<div class="o-grid o-grid--small-full">
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
			<button type="button" class="c-button c-button--xsmall">Button</button>
			<button type="button" class="c-button c-button--small">Button</button>
			<button type="button" class="c-button c-button--medium">Button</button>
			<button type="button" class="c-button c-button--large">Button</button>
			<button type="button" class="c-button c-button--super">Button</button>
		</div>
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;button class="c-button c-button--xsmall">Button&lt;/button>
&lt;button class="c-button c-button--small">Button&lt;/button>
&lt;button class="c-button c-button--medium">Button&lt;/button>
&lt;button class="c-button c-button--large">Button&lt;/button>
&lt;button class="c-button c-button--super">Button&lt;/button></code></pre></div>
	</div>

	<h2 id="full-width" class="c-heading c-heading--medium">Full Width Buttons</h2>
	<div class="o-grid o-grid--small-full">
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
			<button type="button" class="c-button c-button--block c-button--xsmall">Button</button>
			<button type="button" class="c-button c-button--block c-button--small">Button</button>
			<button type="button" class="c-button c-button--block c-button--medium">Button</button>
			<button type="button" class="c-button c-button--block c-button--large">Button</button>
			<button type="button" class="c-button c-button--block c-button--super">Button</button>
		</div>
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;button class="c-button c-button--block c-button--xsmall">Button&lt;/button>
&lt;button class="c-button c-button--block c-button--small">Button&lt;/button>
&lt;button class="c-button c-button--block c-button--medium">Button&lt;/button>
&lt;button class="c-button c-button--block c-button--large">Button&lt;/button>
&lt;button class="c-button c-button--block c-button--super">Button&lt;/button></code></pre></div>
	</div>

	<h2 id="ghost" class="c-heading c-heading--medium">Ghost Buttons</h2>
	<div class="o-grid o-grid--small-full">
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
			<button type="button" class="c-button c-button--ghost c-button--xsmall">Button</button>
			<button type="button" class="c-button c-button--ghost c-button--small">Button</button>
			<button type="button" class="c-button c-button--ghost c-button--medium">Button</button>
			<button type="button" class="c-button c-button--ghost c-button--large">Button</button>
			<button type="button" class="c-button c-button--ghost c-button--super">Button</button>
		</div>
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;button class="c-button c-button--ghost c-button--xsmall">Button&lt;/button>
&lt;button class="c-button c-button--ghost c-button--small">Button&lt;/button>
&lt;button class="c-button c-button--ghost c-button--medium">Button&lt;/button>
&lt;button class="c-button c-button--ghost c-button--large">Button&lt;/button>
&lt;button class="c-button c-button--ghost c-button--super">Button&lt;/button></code></pre></div>
	</div>

	<h2 id="ghost-colours" class="c-heading c-heading--medium">Ghost Colours</h2>
	<div class="o-grid o-grid--small-full">
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
			<button type="button" class="c-button c-button--ghost c-button--xsmall">Button</button>
			<button type="button" class="c-button c-button--ghost-primary c-button--small">Button</button>
			<button type="button" class="c-button c-button--ghost-secondary c-button--medium">Button</button>
			<button type="button" class="c-button c-button--ghost-success c-button--large">Button</button>
			<button type="button" class="c-button c-button--ghost-error c-button--super">Button</button>
		</div>
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;button class="c-button c-button--ghost c-button--xsmall">Button&lt;/button>
&lt;button class="c-button c-button--ghost-primary c-button--small">Button&lt;/button>
&lt;button class="c-button c-button--ghost-secondary c-button--medium">Button&lt;/button>
&lt;button class="c-button c-button--ghost-success c-button--large">Button&lt;/button>
&lt;button class="c-button c-button--ghost-error c-button--super">Button&lt;/button></code></pre></div>
	</div>

	<h2 id="rounded" class="c-heading c-heading--medium">Rounded Buttons</h2>
	<div class="o-grid o-grid--small-full">
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
			<button type="button" class="c-button c-button--rounded c-button--ghost c-button--xsmall">Button</button>
			<button type="button" class="c-button c-button--rounded c-button--ghost-primary c-button--small">Button</button>
			<button type="button" class="c-button c-button--rounded c-button--ghost-secondary c-button--medium">Button</button>
			<button type="button" class="c-button c-button--rounded c-button--ghost-success c-button--large">Button</button>
			<button type="button" class="c-button c-button--rounded c-button--ghost-error c-button--super">Button</button>
		</div>
		<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;button class="c-button c-button--rounded c-button--ghost c-button--xsmall">Button&lt;/button>
&lt;button class="c-button c-button--rounded c-button--ghost-primary c-button--small">Button&lt;/button>
&lt;button class="c-button c-button--rounded c-button--ghost-secondary c-button--medium">Button&lt;/button>
&lt;button class="c-button c-button--rounded c-button--ghost-success c-button--large">Button&lt;/button>
&lt;button class="c-button c-button--rounded c-button--ghost-error c-button--super">Button&lt;/button></code></pre></div>
	</div>
</div>