---
layout: page
title: Buttons
---
<div class="button-demo">
	<p class="paragraph">
		Probably the first thing people look at when choosing a CSS framework. The common button!
	</p>

	<h2 class="heading heading--medium">Basic Button</h2>
	<p class="paragraph">To make a button a Blaze button add the <code class="code">.button</code> class to buttons, inputs or links.</p>
	<div class="grid grid--small-full">
		<div class="grid__cell letter-box--small">
			<button type="button" class="button">Button</button>
			<input type="button" class="button" value="Input">
			<a class="button">Link</a>
			<button type="button" class="button" disabled>Button</button>
		</div>
		<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;button class="button">Button&lt;/button>
&lt;input type="button" class="button" value="Input">
&lt;a class="button">Link&lt;/a>
&lt;button class="button">Button&lt;/button></code></pre></div>
	</div>

	<h2 class="heading heading--medium">Button Colours</h2>
	<p class="paragraph">
		There are four button colour modifiers <code class="code">.button--primary</code>,  <code class="code">.button--secondary</code>,
		<code class="code">.button--success</code> and <code class="code">.button--error</code>.
	</p>
	<div class="grid grid--small-full">
		<div class="grid__cell letter-box--small">
			<button type="button" class="button">Button</button>
			<button type="button" class="button button--primary">Button</button>
			<button type="button" class="button button--secondary">Button</button>
			<button type="button" class="button button--success">Button</button>
			<button type="button" class="button button--error">Button</button>
		</div>
		<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;button class="button">Button&lt;/button>
&lt;button class="button button--primary">Button&lt;/button>
&lt;button class="button button--success">Button&lt;/button>
&lt;button class="button button--error">Button&lt;/button></code></pre></div>
	</div>

	<h2 class="heading heading--medium">Button Group</h2>
	<p class="paragraph">
		To group related buttons together you can use the <code class="code">.button-group</code> wrapping element. This will bunch the buttons
		together and remove the spacing between them.
	</p>
	<div class="grid grid--small-full">
		<div class="grid__cell letter-box--small">
			<span class="button-group">
				<button type="button" class="button button--primary">Button</button>
				<button type="button" class="button button--secondary">Button</button>
			</span>
		</div>
		<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;span class="button-group">
  &lt;button class="button button--primary">Button&lt;/button>
  &lt;button class="button button--secondary">Button&lt;/button>
&lt;/span></code></pre></div>
	</div>

	<h2 class="heading heading--medium">Button Sizes</h2>
	<div class="grid grid--small-full">
		<div class="grid__cell letter-box--small">
			<button type="button" class="button button--xsmall">Button</button>
			<button type="button" class="button button--small">Button</button>
			<button type="button" class="button button--medium">Button</button>
			<button type="button" class="button button--large">Button</button>
			<button type="button" class="button button--super">Button</button>
		</div>
		<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;button class="button button--xsmall">Button&lt;/button>
&lt;button class="button button--small">Button&lt;/button>
&lt;button class="button button--medium">Button&lt;/button>
&lt;button class="button button--large">Button&lt;/button>
&lt;button class="button button--super">Button&lt;/button></code></pre></div>
	</div>

	<h2 class="heading heading--medium">Full Width Buttons</h2>
	<div class="grid grid--small-full">
		<div class="grid__cell letter-box--small">
			<button type="button" class="button button--block button--xsmall">Button</button>
			<button type="button" class="button button--block button--small">Button</button>
			<button type="button" class="button button--block button--medium">Button</button>
			<button type="button" class="button button--block button--large">Button</button>
			<button type="button" class="button button--block button--super">Button</button>
		</div>
		<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;button class="button button--block button--xsmall">Button&lt;/button>
&lt;button class="button button--block button--small">Button&lt;/button>
&lt;button class="button button--block button--medium">Button&lt;/button>
&lt;button class="button button--block button--large">Button&lt;/button>
&lt;button class="button button--block button--super">Button&lt;/button></code></pre></div>
	</div>

	<h2 class="heading heading--medium">Ghost Buttons</h2>
	<div class="grid grid--small-full">
		<div class="grid__cell letter-box--small">
			<button type="button" class="button button--ghost button--xsmall">Button</button>
			<button type="button" class="button button--ghost button--small">Button</button>
			<button type="button" class="button button--ghost button--medium">Button</button>
			<button type="button" class="button button--ghost button--large">Button</button>
			<button type="button" class="button button--ghost button--super">Button</button>
		</div>
		<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;button class="button button--ghost button--xsmall">Button&lt;/button>
&lt;button class="button button--ghost button--small">Button&lt;/button>
&lt;button class="button button--ghost button--medium">Button&lt;/button>
&lt;button class="button button--ghost button--large">Button&lt;/button>
&lt;button class="button button--ghost button--super">Button&lt;/button></code></pre></div>
	</div>

	<h2 class="heading heading--medium">Ghost Colours</h2>
	<div class="grid grid--small-full">
		<div class="grid__cell letter-box--small">
			<button type="button" class="button button--ghost button--xsmall">Button</button>
			<button type="button" class="button button--ghost-primary button--small">Button</button>
			<button type="button" class="button button--ghost-secondary button--medium">Button</button>
			<button type="button" class="button button--ghost-success button--large">Button</button>
			<button type="button" class="button button--ghost-error button--super">Button</button>
		</div>
		<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;button class="button button--ghost button--xsmall">Button&lt;/button>
&lt;button class="button button--ghost-primary button--small">Button&lt;/button>
&lt;button class="button button--ghost-secondary button--medium">Button&lt;/button>
&lt;button class="button button--ghost-success button--large">Button&lt;/button>
&lt;button class="button button--ghost-error button--super">Button&lt;/button></code></pre></div>
	</div>

	<h2 class="heading heading--medium">Rounded Buttons</h2>
	<div class="grid grid--small-full">
		<div class="grid__cell letter-box--small">
			<button type="button" class="button button--rounded button--ghost button--xsmall">Button</button>
			<button type="button" class="button button--rounded button--ghost-primary button--small">Button</button>
			<button type="button" class="button button--rounded button--ghost-secondary button--medium">Button</button>
			<button type="button" class="button button--rounded button--ghost-success button--large">Button</button>
			<button type="button" class="button button--rounded button--ghost-error button--super">Button</button>
		</div>
		<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;button class="button button--rounded button--ghost button--xsmall">Button&lt;/button>
&lt;button class="button button--rounded button--ghost-primary button--small">Button&lt;/button>
&lt;button class="button button--rounded button--ghost-secondary button--medium">Button&lt;/button>
&lt;button class="button button--rounded button--ghost-success button--large">Button&lt;/button>
&lt;button class="button button--rounded button--ghost-error button--super">Button&lt;/button></code></pre></div>
	</div>
</div>