---
layout: page
title: Cards
---

<p class="c-paragraph">
	Cards are a common minimalistic design tool used to segregate sections of your content.
</p>

<h2 class="c-heading c-heading--medium">Basic Card</h2>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-card">
			<div class="c-card__content">
				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
			</div>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-card">
  &lt;div class="c-card__content">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
&lt;/div></code></pre></div>
</div>

<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-card">
			<div class="c-card__content">
				<h2 class="c-heading c-heading--small">Heading</h2>
				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
			</div>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-card">
  &lt;div class="c-card__content">
    &lt;h2 class="c-heading c-heading--small">Heading&lt;/h2>
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
&lt;/div></code></pre></div>
</div>

<h2 id="dividers" class="c-heading c-heading--medium">Dividers</h2>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-card">
			<div class="c-card__content c-card__content--divider">Header</div>
			<div class="c-card__content">
				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>

				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
			</div>
			<div class="c-card__content c-card__content--divider">Divider</div>
			<div class="c-card__content">
				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>

				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
			</div>
			<div class="c-card__content c-card__content--divider">Footer</div>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-card">
  &lt;div class="c-card__content c-card__content--divider">Header&lt;/div>
  &lt;div class="c-card__content">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
  &lt;div class="c-card__content c-card__content--divider">Divider&lt;/div>
  &lt;div class="c-card__content">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
  &lt;div class="c-card__content c-card__content--divider">Footer&lt;/div>
&lt;/div></code></pre></div>
</div>

<h2 id="colours" class="c-heading c-heading--medium">Colours</h2>
<p class="c-paragraph">
	Add <code class="c-code">--primary</code>, <code class="c-code">--secondary</code>,
	<code class="c-code">--successful</code> or <code class="c-code">--error</code> modifier to the card to change the
	colour of the dividers.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-card c-card--primary">
			<div class="c-card__content c-card__content--divider">Header</div>
			<div class="c-card__content">
				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>

				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
			</div>
			<div class="c-card__content c-card__content--divider">Divider</div>
			<div class="c-card__content">
				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>

				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
			</div>
			<div class="c-card__content c-card__content--divider">Footer</div>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-card c-card--primary">
  &lt;div class="c-card__content c-card__content--divider">Header&lt;/div>
  &lt;div class="c-card__content">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
  &lt;div class="c-card__content c-card__content--divider">Divider&lt;/div>
  &lt;div class="c-card__content">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
  &lt;div class="c-card__content c-card__content--divider">Footer&lt;/div>
&lt;/div></code></pre></div>
</div>

<h2 id="shadows" class="c-heading c-heading--medium">With Shadows</h2>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-card c-card--high">
			<div class="c-card__content c-card__content--divider">High</div>
			<div class="c-card__content">
				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>

				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
			</div>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-card c-card--high">
  &lt;div class="c-card__content c-card__content--divider">Highest&lt;/div>
  &lt;div class="c-card__content">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
&lt;/div></code></pre></div>
</div>

<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-card c-card--higher">
			<div class="c-card__content c-card__content--divider">Higher</div>
			<div class="c-card__content">
				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>

				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
			</div>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-card c-card--higher">
  &lt;div class="c-card__content c-card__content--divider">Highest&lt;/div>
  &lt;div class="c-card__content">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
&lt;/div></code></pre></div>
</div>

<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-card c-card--highest">
			<div class="c-card__content c-card__content--divider">Highest</div>
			<div class="c-card__content">
				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>

				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
			</div>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-card c-card--highest">
  &lt;div class="c-card__content c-card__content--divider">Highest&lt;/div>
  &lt;div class="c-card__content">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
&lt;/div></code></pre></div>
</div>

<h2 id="images" class="c-heading c-heading--medium">Card Images</h2><p class="c-paragraph">
	Add images with the <code class="c-code">o-image</code> class to insert full-width images into the card.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-card c-card--higher c-card--primary">
			<div class="c-card__content c-card__content--divider">Title</div>
			<img class="o-image" src="https://unsplash.it/1024/500?random">
			<div class="c-card__content">
				<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
			</div>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-card c-card--higher c-card--primary">
  &lt;div class="c-card__content c-card__content--divider">Title&lt;/div>
  &lt;img class="o-image" src="https://unsplash.it/1024/500?random">
  &lt;div class="c-card__content">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
&lt;/div></code></pre></div>
</div>

<h2 id="items" class="c-heading c-heading--medium">Card Items</h2>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-card c-card--highest">
			<div class="c-card__item">Item 1</div>
			<div class="c-card__item">Item 2</div>
			<div class="c-card__content c-card__content--divider">Divider</div>
			<div class="c-card__item">Item 3</div>
			<div class="c-card__item">Item 4</div>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-card c-card--highest">
  &lt;div class="c-card__item">Item 1&lt;/div>
  &lt;div class="c-card__item">Item 2&lt;/div>
  &lt;div class="c-card__content c-card__content--divider">Divider&lt;/div>
  &lt;div class="c-card__item">Item 3&lt;/div>
  &lt;div class="c-card__item">Item 4&lt;/div>
&lt;/div></code></pre></div>
</div>

<h3 id="grouped-items" class="c-heading c-heading--small">Grouped Items</h3>

<p class="paragraph">
	Grouping card items couldn't be easier. Add the <code class="c-code">.c-card--grouped</code> modifier which will
	remove the item borders. Then insert a <code class="c-code">.c-card__group-divider</code> element into the list, which
	creates a horizontal line.
</p>

<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-card c-card--highest c-card--grouped">
			<div class="c-card__item">Item 1</div>
			<div class="c-card__item">Item 2</div>
			<div class="c-card__item">Item 3</div>
			<div class="c-card__group-divider"></div>
			<div class="c-card__item">Item 4</div>
			<div class="c-card__item">Item 5</div>
			<div class="c-card__group-divider"></div>
			<div class="c-card__item">Item 6</div>
			<div class="c-card__item">Item 7</div>
			<div class="c-card__item">Item 8</div>
			<div class="c-card__group-divider"></div>
			<div class="c-card__item">Item 9</div>
			<div class="c-card__group-divider"></div>
			<div class="c-card__item">Item 10</div>
		</div>
	</div>
<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-card c-card--highest c-card--grouped">
&lt;div class="c-card__item">Item 1&lt;/div>
&lt;div class="c-card__item">Item 2&lt;/div>
&lt;div class="c-card__item">Item 3&lt;/div>
&lt;div class="c-card__group-divider">&lt;/div>
&lt;div class="c-card__item">Item 4&lt;/div>
&lt;div class="c-card__item">Item 5&lt;/div>
&lt;div class="c-card__group-divider">&lt;/div>
&lt;div class="c-card__item">Item 6&lt;/div>
&lt;div class="c-card__item">Item 7&lt;/div>
&lt;div class="c-card__item">Item 8&lt;/div>
&lt;div class="c-card__group-divider">&lt;/div>
&lt;div class="c-card__item">Item 9&lt;/div>
&lt;div class="c-card__group-divider">&lt;/div>
&lt;div class="c-card__item">Item 10&lt;/div>
&lt;/div></code></pre></div>
</div>