---
layout: page
title: Cards
---

<p class="c-paragraph">
    Cards are a common minimalistic design tool used to segregate sections of your content.
</p>

<h2 class="c-heading c-heading--medium">Basic Card</h2>
<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-card">
            <div class="c-card__item">
                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>
            </div>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-card">
  &lt;div class="c-card__item">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
&lt;/div></code></pre>
    </div>
</div>

<h2 id="dividers" class="c-heading c-heading--medium">Dividers</h2>
<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-card">
            <div class="c-card__item c-card__item--divider">Header</div>
            <div class="c-card__item">
                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>

                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>
            </div>
            <div class="c-card__item c-card__item--divider">Divider</div>
            <div class="c-card__item">
                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>

                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>
            </div>
            <div class="c-card__item c-card__item--divider">Footer</div>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-card">
  &lt;div class="c-card__item c-card__item--divider">Header&lt;/div>
  &lt;div class="c-card__item">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
  &lt;div class="c-card__item c-card__item--divider">Divider&lt;/div>
  &lt;div class="c-card__item">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
  &lt;div class="c-card__item c-card__item--divider">Footer&lt;/div>
&lt;/div></code></pre>
    </div>
</div>

<h2 id="colors" class="c-heading c-heading--medium">colors</h2>
<p class="c-paragraph">
    Add <code class="c-code">--brand</code>, <code class="c-code">--info</code>, <code class="c-code">--warning</code>,
    <code class="c-code">--successful</code> or <code class="c-code">--error</code> modifier to the card items to change
    their
    background colors.
</p>
<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-card">
            <div class="c-card__item c-card__item--brand">Header</div>
            <div class="c-card__item c-card__item--info">
                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>

                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>
            </div>
            <div class="c-card__item c-card__item--warning">Divider</div>
            <div class="c-card__item c-card__item--success">
                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>

                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>
            </div>
            <div class="c-card__item c-card__item--error">Footer</div>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-card">
  &lt;div class="c-card__item c-card__item--brand">Header&lt;/div>
  &lt;div class="c-card__item c-card__item--info">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
  &lt;div class="c-card__item c-card__item--warning">Divider&lt;/div>
  &lt;div class="c-card__item c-card__item--success">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
  &lt;div class="c-card__item c-card__item--error">Footer&lt;/div>
&lt;/div></code></pre>
    </div>
</div>

<h2 id="shadows" class="c-heading c-heading--medium">With Shadows</h2>
<p class="c-paragraph">Use the <code class="c-code">u-high</code>, <code class="c-code">u-higher</code>,
    <code class="c-code">u-highest</code> utility classes to add elevation with shadows.</p>
<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-card u-high">
            <div class="c-card__item c-card__item--divider">High</div>
            <div class="c-card__item">
                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>

                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>
            </div>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-card u-high">
  &lt;div class="c-card__item c-card__item--brand">Highest&lt;/div>
  &lt;div class="c-card__item">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
&lt;/div></code></pre>
    </div>
</div>

<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-card u-higher">
            <div class="c-card__item c-card__item--brand">Higher</div>
            <div class="c-card__item">
                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>

                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>
            </div>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-card u-higher">
  &lt;div class="c-card__item c-card__item--brand">Highest&lt;/div>
  &lt;div class="c-card__item">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
&lt;/div></code></pre>
    </div>
</div>

<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-card u-highest">
            <div class="c-card__item c-card__item--info">Highest</div>
            <div class="c-card__item">
                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>

                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>
            </div>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-card u-highest">
  &lt;div class="c-card__item c-card__item--info">Highest&lt;/div>
  &lt;div class="c-card__item">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
&lt;/div></code></pre>
    </div>
</div>

<h2 id="header-body-footer" class="c-heading c-heading--medium">Header, Body and Footer</h2>
<p class="c-paragraph">
    Use the header, body and footer element classes to construct some nice cards.
</p>
<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-card c-card--higher">
            <header class="c-card__header">
                <h2 class="c-heading">
                    Heading
                    <div class="c-heading__sub">Sub-heading</div>
                </h2>
            </header>
            <div class="c-card__body">
                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>
            </div>
            <footer class="c-card__footer">
                <div class="c-input-group">
                    <button class="c-button c-button--block c-button--brand">Button</button>
                    <button class="c-button c-button--block c-button--info">Button</button>
                </div>
            </footer>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-card c-card--higher">
  &lt;header class="c-card__header">
    &lt;h2 class="c-heading">
      Heading
      &lt;div class="c-heading__sub">Sub-heading&lt;/div>
    &lt;/h2>
  &lt;/header>
  &lt;div class="c-card__body">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
  &lt;footer class="c-card__footer">
    &lt;div class="c-input-group">
      &lt;button class="c-button c-button--block c-button--brand">Button&lt;/button>
      &lt;button class="c-button c-button--block c-button--info">Button&lt;/button>
    &lt;/div>
  &lt;/footer>
&lt;/div></code></pre>
    </div>
</div>

<h3 id="block-footer" class="c-heading c-heading--medium">Block footer</h3>
<p class="c-paragraph">
    You can push the footer buttons right to the edges of the card using <code
        class="c-code">.c-card__footer--block</code>.
</p>
<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-card c-card--higher">
            <header class="c-card__header">
                <h2 class="c-heading">
                    Heading
                    <div class="c-heading__sub">Sub-heading</div>
                </h2>
            </header>
            <div class="c-card__body">
                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>
            </div>
            <footer class="c-card__footer c-card__footer--block">
                <div class="c-input-group">
                    <button class="c-button c-button--block c-button--brand">Button</button>
                    <button class="c-button c-button--block c-button--info">Button</button>
                </div>
            </footer>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-card c-card--higher">
  &lt;header class="c-card__header">
    &lt;h2 class="c-heading">
      Heading
      &lt;div class="c-heading__sub">Sub-heading&lt;/div>
    &lt;/h2>
  &lt;/header>
  &lt;div class="c-card__body">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
  &lt;footer class="c-card__footer c-card__footer--block">
    &lt;div class="c-input-group">
      &lt;button class="c-button c-button--block c-button--brand">Button&lt;/button>
      &lt;button class="c-button c-button--block c-button--info">Button&lt;/button>
    &lt;/div>
  &lt;/footer>
&lt;/div></code></pre>
    </div>
</div>

<h3 id="images" class="c-heading c-heading--medium">With images</h3>
<p class="c-paragraph">
    Images are best placed within the card at the same level as the header, body and footer
</p>
<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-card c-card--higher">
            <img class="o-image" src="https://unsplash.it/1024/500?random">
            <header class="c-card__header">
                <h2 class="c-heading">
                    Heading
                    <div class="c-heading__sub">Sub-heading</div>
                </h2>
            </header>
            <div class="c-card__body">
                <p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
                    et.</p>
            </div>
            <footer class="c-card__footer c-card__footer--block">
                <div class="c-input-group">
                    <button class="c-button c-button--block c-button--brand">Button</button>
                    <button class="c-button c-button--block c-button--info">Button</button>
                </div>
            </footer>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-card c-card--higher">
  &lt;img class="o-image" src="https://unsplash.it/1024/500?random">
  &lt;header class="c-card__header">
    &lt;h2 class="c-heading">
      Heading
      &lt;div class="c-heading__sub">Sub-heading&lt;/div>
    &lt;/h2>
  &lt;/header>
  &lt;div class="c-card__body">
    &lt;p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
  &lt;footer class="c-card__footer c-card__footer--block">
    &lt;div class="c-input-group">
      &lt;button class="c-button c-button--block c-button--brand">Button&lt;/button>
      &lt;button class="c-button c-button--block c-button--info">Button&lt;/button>
    &lt;/div>
  &lt;/footer>
&lt;/div></code></pre>
    </div>
</div>

<h2 id="items" class="c-heading c-heading--medium">Card Items</h2>
<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-card c-card--highest">
            <div class="c-card__item">Item 1</div>
            <div class="c-card__item">Item 2</div>
            <div class="c-card__item c-card__item--divider">Divider</div>
            <div class="c-card__item">Item 3</div>
            <div class="c-card__item">Item 4</div>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-card c-card--highest">
  &lt;div class="c-card__item">Item 1&lt;/div>
  &lt;div class="c-card__item">Item 2&lt;/div>
  &lt;div class="c-card__item c-card__item--divider">Divider&lt;/div>
  &lt;div class="c-card__item">Item 3&lt;/div>
  &lt;div class="c-card__item">Item 4&lt;/div>
&lt;/div></code></pre>
    </div>
</div>

<h3 id="grouped-items" class="c-heading c-heading--small">Grouped Items</h3>

<p class="paragraph">
    Grouping card items couldn't be easier. Add the <code class="c-code">.c-card--grouped</code> modifier which will
    remove the item borders. Then insert a <code class="c-code">.c-card__item--divider</code> element into the list,
    which creates a horizontal line.
</p>

<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-card u-highest c-card--grouped">
            <div class="c-card__item">Item 1</div>
            <div class="c-card__item">Item 2</div>
            <div class="c-card__divider"></div>
            <div class="c-card__item">Item 3</div>
            <div class="c-card__item">Item 4</div>
            <div class="c-card__item">Item 5</div>
            <div class="c-card__divider"></div>
            <div class="c-card__item">Item 6</div>
            <div class="c-card__group-divider"></div>
            <div class="c-card__item">Item 7</div>
            <div class="c-card__item">Item 8</div>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-card u-highest c-card--grouped">
  &lt;div class="c-card__item">Item 1&lt;/div>
  &lt;div class="c-card__item">Item 2&lt;/div>
  &lt;div class="c-card__item--divider">&lt;/div>
  &lt;div class="c-card__item">Item 3&lt;/div>
  &lt;div class="c-card__item">Item 4&lt;/div>
  &lt;div class="c-card__item">Item 5&lt;/div>
  &lt;div class="c-card__item--divider">&lt;/div>
  &lt;div class="c-card__item">Item 6&lt;/div>
  &lt;div class="c-card__item--divider">&lt;/div>
  &lt;div class="c-card__item">Item 7&lt;/div>
  &lt;div class="c-card__item">Item 8&lt;/div>
&lt;/div></code></pre>
    </div>
</div>