---
layout: page
title: Cards
---

<p class="paragraph">
	Cards are a common minimalistic design tool used to segregate sections of your content.
</p>

<h2 class="heading heading--medium">Basic Card</h2>
<div class="grid grid--small-full">
	<div class="grid__cell grid__width--50 letter-box--small">
		<div class="card">
			<div class="card__content">
				<p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
			</div>
		</div>
	</div>
	<div class="grid__cell grid__width--50 letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="card">
  &lt;div class="card__content">
    &lt;p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
&lt;/div></code></pre></div>
</div>

<h2 class="heading heading--medium">Dividers</h2>
<div class="grid grid--small-full">
	<div class="grid__cell grid__width--50 letter-box--small">
		<div class="card">
			<div class="card__content card__content--divider heading">Header</div>
			<div class="card__content">
				<p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>

				<p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
			</div>
			<div class="card__content card__content--divider">Divider</div>
			<div class="card__content">
				<p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>

				<p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
			</div>
			<div class="card__content card__content--divider">Footer</div>
		</div>
	</div>
	<div class="grid__cell grid__width--50 letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="card">
  &lt;div class="card__content card__content--divider heading">Header&lt;/div>
  &lt;div class="card__content">
    &lt;p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
  &lt;div class="card__content card__content--divider">Divider&lt;/div>
  &lt;div class="card__content">
    &lt;p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
  &lt;div class="card__content card__content--divider">Footer&lt;/div>
&lt;/div></code></pre></div>
</div>

<h2 class="heading heading--medium">With Shadows</h2>
<div class="grid grid--small-full">
	<div class="grid__cell grid__width--50 letter-box--small">
		<div class="card card--high">
			<div class="card__content card__content--divider heading">High</div>
			<div class="card__content">
				<p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>

				<p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
			</div>
		</div>
	</div>
	<div class="grid__cell grid__width--50 letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="card card--high">
  &lt;div class="card__content card__content--divider heading">Highest&lt;/div>
  &lt;div class="card__content">
    &lt;p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
&lt;/div></code></pre></div>
</div>

<div class="grid grid--small-full">
	<div class="grid__cell grid__width--50 letter-box--small">
		<div class="card card--higher">
			<div class="card__content card__content--divider heading">Higher</div>
			<div class="card__content">
				<p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>

				<p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
			</div>
		</div>
	</div>
	<div class="grid__cell grid__width--50 letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="card card--higher">
  &lt;div class="card__content card__content--divider heading">Highest&lt;/div>
  &lt;div class="card__content">
    &lt;p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
&lt;/div></code></pre></div>
</div>

<div class="grid grid--small-full">
	<div class="grid__cell grid__width--50 letter-box--small">
		<div class="card card--highest">
			<div class="card__content card__content--divider heading">Highest</div>
			<div class="card__content">
				<p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>

				<p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.</p>
			</div>
		</div>
	</div>
	<div class="grid__cell grid__width--50 letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="card card--highest">
  &lt;div class="card__content card__content--divider heading">Highest&lt;/div>
  &lt;div class="card__content">
    &lt;p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
    &lt;p class="paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea et.&lt;/p>
  &lt;/div>
&lt;/div></code></pre></div>
</div>

<h2 class="heading heading--medium">Card Items</h2>
<div class="grid grid--small-full">
	<div class="grid__cell grid__width--50 letter-box--small">
		<div class="card card--highest">
			<div class="card__item">Item 1</div>
			<div class="card__item">Item 2</div>
			<div class="card__content card__content--divider heading">Divider</div>
			<div class="card__item">Item 3</div>
			<div class="card__item">Item 4</div>
		</div>
	</div>
	<div class="grid__cell grid__width--50 letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="card card--highest">
  &lt;div class="card__item">Item 1&lt;/div>
  &lt;div class="card__item">Item 2&lt;/div>
  &lt;div class="card__content card__content--divider heading">Divider&lt;/div>
  &lt;div class="card__item">Item 3&lt;/div>
  &lt;div class="card__item">Item 4&lt;/div>
&lt;/div></code></pre></div>
</div>