---
layout: page
title: Drawers
---

<p class="paragraph">
	Slide in menus, but <a href="/components/menus/">"menu"</a> was already taken so welcome to drawers.
</p>
<h2 class="heading heading--medium">Basic Drawer</h2>
<p class="paragraph">
	Your basic drawer will appear from the bottom of the container. The container should have
	<code class="code">overflow:hidden</code> or you'll	see the drawer sliding around.
</p>
<p class="paragraph">
	To make the drawer appear and disappear toggle the <code class="code">.drawer--visible</code> modifier.
</p>
<div class="grid grid--small-full">
	<div class="grid__cell letter-box--small modal-demo">
		<div class="overlay"></div>
		<div class="drawer drawer--bottom drawer--visible">
			<h4 class="heading heading--xsmall">Drawer header</h4>

			<ul class="menu">
				<li class="menu__item">Drawer menu</li>
				<li class="menu__item">Item two</li>
				<li class="menu__item">Item three</li>
				<li class="menu__item">Item four</li>
			</ul>

			<div class="drawer__body">
				Drawer body
			</div>
		</div>
	</div>
	<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="overlay">&lt;/div>
&lt;div class="drawer drawer--bottom drawer--visible">
  &lt;h4 class="heading heading--xsmall">Drawer header&lt;/h4>

  &lt;ul class="menu">
    &lt;li class="menu__item">Drawer menu&lt;/li>
    &lt;li class="menu__item">Item two&lt;/li>
    &lt;li class="menu__item">Item three&lt;/li>
    &lt;li class="menu__item">Item four&lt;/li>
  &lt;/ul>

  &lt;div class="drawer__body">
    Drawer body
  &lt;/div>
&lt;/div></code></pre></div>
</div>

<h2 class="heading heading--medium">Positions</h2>
<p class="paragraph">
	<code class="code">.drawer--top</code>, <code class="code">.drawer--right</code>, <code class="code">.drawer--left</code>
	and <code class="code">.drawer--bottom</code> modifiers are all available.
</p>
<h3 class="heading heading--small mono">.drawer--left</h3>
<div class="grid grid--small-full">
	<div class="grid__cell letter-box--small modal-demo">
		<div class="overlay"></div>
		<div class="drawer drawer--left drawer--visible">
			<h4 class="heading heading--xsmall">Drawer header</h4>

			<ul class="menu">
				<li class="menu__item">Drawer menu</li>
				<li class="menu__item">Item two</li>
				<li class="menu__item">Item three</li>
				<li class="menu__item">Item four</li>
			</ul>

			<div class="drawer__body">
				Drawer body
			</div>
		</div>
	</div>
	<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="overlay">&lt;/div>
&lt;div class="drawer drawer--left drawer--visible">
  &lt;h4 class="heading heading--xsmall">Drawer header&lt;/h4>

  &lt;ul class="menu">
    &lt;li class="menu__item">Drawer menu&lt;/li>
    &lt;li class="menu__item">Item two&lt;/li>
    &lt;li class="menu__item">Item three&lt;/li>
    &lt;li class="menu__item">Item four&lt;/li>
  &lt;/ul>

  &lt;div class="drawer__body">
    Drawer body
  &lt;/div>
&lt;/div></code></pre></div>
</div>

<h3 class="heading heading--small mono">.drawer--top</h3>
<div class="grid grid--small-full">
	<div class="grid__cell letter-box--small modal-demo">
		<div class="overlay"></div>
		<div class="drawer drawer--top drawer--visible">
			<h4 class="heading heading--xsmall">Drawer header</h4>

			<ul class="menu">
				<li class="menu__item">Drawer menu</li>
				<li class="menu__item">Item two</li>
				<li class="menu__item">Item three</li>
				<li class="menu__item">Item four</li>
			</ul>

			<div class="drawer__body">
				Drawer body
			</div>
		</div>
	</div>
	<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="overlay">&lt;/div>
&lt;div class="drawer drawer--top drawer--visible">
  &lt;h4 class="heading heading--xsmall">Drawer header&lt;/h4>

  &lt;ul class="menu">
    &lt;li class="menu__item">Drawer menu&lt;/li>
    &lt;li class="menu__item">Item two&lt;/li>
    &lt;li class="menu__item">Item three&lt;/li>
    &lt;li class="menu__item">Item four&lt;/li>
  &lt;/ul>

  &lt;div class="drawer__body">
    Drawer body
  &lt;/div>
&lt;/div></code></pre></div>
</div>

<h3 class="heading heading--small mono">.drawer--right</h3>
<div class="grid grid--small-full">
	<div class="grid__cell letter-box--small modal-demo">
		<div class="overlay"></div>
		<div class="drawer drawer--right drawer--visible">
			<h4 class="heading heading--xsmall">Drawer header</h4>

			<ul class="menu">
				<li class="menu__item">Drawer menu</li>
				<li class="menu__item">Item two</li>
				<li class="menu__item">Item three</li>
				<li class="menu__item">Item four</li>
			</ul>

			<div class="drawer__body">
				Drawer body
			</div>
		</div>
	</div>
	<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="overlay">&lt;/div>
&lt;div class="drawer drawer--right drawer--visible">
  &lt;h4 class="heading heading--xsmall">Drawer header&lt;/h4>

  &lt;ul class="menu">
    &lt;li class="menu__item">Drawer menu&lt;/li>
    &lt;li class="menu__item">Item two&lt;/li>
    &lt;li class="menu__item">Item three&lt;/li>
    &lt;li class="menu__item">Item four&lt;/li>
  &lt;/ul>

  &lt;div class="drawer__body">
    Drawer body
  &lt;/div>
&lt;/div></code></pre></div>
</div>