---
layout: page
title: Drawers
---

<p class="c-paragraph">
	Slide in menus, but "<a class="c-link" href="/components/c-menus/">menus</a>" was already taken so welcome to
	drawers.
</p>
<h2 class="c-heading c-heading--medium">Basic Drawer</h2>
<p class="c-paragraph">
	Your basic drawer will appear from the bottom of the container. The container should have
	<code class="c-code">overflow:hidden</code> or you'll see the drawer sliding around.
</p>
<p class="c-paragraph">
	To make the drawer appear and disappear toggle the <code class="c-code">.drawer--visible</code> modifier.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell u-letter-box--small modal-demo">
		<div class="c-overlay"></div>
		<div class="c-drawer c-drawer--bottom c-drawer--visible">
			<h4 class="c-heading c-heading--xsmall">Drawer header</h4>

			<ul class="c-menu">
				<li class="c-menu__item">Drawer c-menu</li>
				<li class="c-menu__item">Item two</li>
				<li class="c-menu__item">Item three</li>
				<li class="c-menu__item">Item four</li>
			</ul>

			<div class="c-drawer__body">
				Drawer body
			</div>

			<div class="c-drawer__footer c-drawer__footer--block">
				<button class="c-button c-button--primary">Done</button>
			</div>
		</div>
	</div>
	<div class="o-grid__cell u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-overlay">&lt;/div>
&lt;div class="c-drawer c-drawer--bottom c-drawer--visible">
  &lt;h4 class="c-heading c-heading--xsmall">Drawer header&lt;/h4>

  &lt;ul class="c-menu">
    &lt;li class="c-menu__item">Drawer c-menu&lt;/li>
    &lt;li class="c-menu__item">Item two&lt;/li>
    &lt;li class="c-menu__item">Item three&lt;/li>
    &lt;li class="c-menu__item">Item four&lt;/li>
  &lt;/ul>

  &lt;div class="c-drawer__body">
    Drawer body
  &lt;/div>
		
  &lt;div class="c-drawer__footer c-drawer__footer--block">
    &lt;button class="c-button c-button--primary">Done&lt;/button>
  &lt;/div>
&lt;/div></code></pre>
	</div>
</div>

<h2 id="positions" class="c-heading c-heading--medium">Positions</h2>
<p class="c-paragraph">
	<code class="c-code">.c-drawer--top</code>, <code class="c-code">.c-drawer--right</code>, <code class="c-code">.c-drawer--left</code>
	and <code class="c-code">.c-drawer--bottom</code> modifiers are all available.
</p>
<h3 id="positions-left" class="c-heading c-heading--small mono">.c-drawer--left</h3>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell u-letter-box--small modal-demo">
		<div class="c-overlay"></div>
		<div class="c-drawer c-drawer--left c-drawer--visible">
			<h4 class="c-heading c-heading--xsmall">Drawer header</h4>

			<ul class="c-menu">
				<li class="c-menu__item">Drawer c-menu</li>
				<li class="c-menu__item">Item two</li>
				<li class="c-menu__item">Item three</li>
				<li class="c-menu__item">Item four</li>
			</ul>

			<div class="c-drawer__body">
				Drawer body
			</div>

			<div class="c-drawer__footer c-drawer__footer--block">
				<button class="c-button c-button--primary">Done</button>
			</div>
		</div>
	</div>
	<div class="o-grid__cell u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-overlay">&lt;/div>
&lt;div class="c-drawer c-drawer--left c-drawer--visible">
  &lt;h4 class="c-heading c-heading--xsmall">Drawer header&lt;/h4>

  &lt;ul class="c-menu">
    &lt;li class="c-menu__item">Drawer c-menu&lt;/li>
    &lt;li class="c-menu__item">Item two&lt;/li>
    &lt;li class="c-menu__item">Item three&lt;/li>
    &lt;li class="c-menu__item">Item four&lt;/li>
  &lt;/ul>

  &lt;div class="c-drawer__body">
    Drawer body
  &lt;/div>

  &lt;div class="c-drawer__footer c-drawer__footer--block">
    &lt;button class="c-button c-button--primary">Done&lt;/button>
  &lt;/div>
&lt;/div></code></pre>
	</div>
</div>

<h3 id="positions-top" class="c-heading c-heading--small mono">.c-drawer--top</h3>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell u-letter-box--small modal-demo">
		<div class="c-overlay"></div>
		<div class="c-drawer c-drawer--top c-drawer--visible">
			<h4 class="c-heading c-heading--xsmall">Drawer header</h4>

			<ul class="c-menu">
				<li class="c-menu__item">Drawer c-menu</li>
				<li class="c-menu__item">Item two</li>
				<li class="c-menu__item">Item three</li>
				<li class="c-menu__item">Item four</li>
			</ul>

			<div class="c-drawer__body">
				Drawer body
			</div>

			<div class="c-drawer__footer c-drawer__footer--block">
				<button class="c-button c-button--primary">Done</button>
			</div>
		</div>
	</div>
	<div class="o-grid__cell u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-overlay">&lt;/div>
&lt;div class="c-drawer c-drawer--top c-drawer--visible">
  &lt;h4 class="c-heading c-heading--xsmall">Drawer header&lt;/h4>

  &lt;ul class="c-menu">
    &lt;li class="c-menu__item">Drawer c-menu&lt;/li>
    &lt;li class="c-menu__item">Item two&lt;/li>
    &lt;li class="c-menu__item">Item three&lt;/li>
    &lt;li class="c-menu__item">Item four&lt;/li>
  &lt;/ul>

  &lt;div class="c-drawer__body">
    Drawer body
  &lt;/div>

  &lt;div class="c-drawer__footer c-drawer__footer--block">
    &lt;button class="c-button c-button--primary">Done&lt;/button>
  &lt;/div>
&lt;/div></code></pre>
	</div>
</div>

<h3 id="positions-right" class="c-heading c-heading--small mono">.c-drawer--right</h3>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell u-letter-box--small modal-demo">
		<div class="c-overlay"></div>
		<div class="c-drawer c-drawer--right c-drawer--visible">
			<h4 class="c-heading c-heading--xsmall">Drawer header</h4>

			<ul class="c-menu">
				<li class="c-menu__item">Drawer c-menu</li>
				<li class="c-menu__item">Item two</li>
				<li class="c-menu__item">Item three</li>
				<li class="c-menu__item">Item four</li>
			</ul>

			<div class="c-drawer__body">
				Drawer body
			</div>

			<div class="c-drawer__footer c-drawer__footer--block">
				<button class="c-button c-button--primary">Done</button>
			</div>
		</div>
	</div>
	<div class="o-grid__cell u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-overlay">&lt;/div>
&lt;div class="c-drawer c-drawer--right c-drawer--visible">
  &lt;h4 class="c-heading c-heading--xsmall">Drawer header&lt;/h4>

  &lt;ul class="c-menu">
    &lt;li class="c-menu__item">Drawer c-menu&lt;/li>
    &lt;li class="c-menu__item">Item two&lt;/li>
    &lt;li class="c-menu__item">Item three&lt;/li>
    &lt;li class="c-menu__item">Item four&lt;/li>
  &lt;/ul>

  &lt;div class="c-drawer__body">
    Drawer body
  &lt;/div>

  &lt;div class="c-drawer__footer c-drawer__footer--block">
    &lt;button class="c-button c-button--primary">Done&lt;/button>
  &lt;/div>
&lt;/div></code></pre>
	</div>
</div>

<h2 id="animation" class="c-heading c-heading--medium">Animation</h2>

<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell u-letter-box--small modal-demo">
		<div class="c-overlay a-overlay" id="animate-overlay"></div>
		<div class="c-drawer c-drawer--bottom c-drawer--visible a-drawer" id="animate-drawer">
			<h4 class="c-heading c-heading--xsmall">Drawer header</h4>

			<ul class="c-menu">
				<li class="c-menu__item">Drawer c-menu</li>
				<li class="c-menu__item">Item two</li>
				<li class="c-menu__item">Item three</li>
				<li class="c-menu__item">Item four</li>
			</ul>

			<div class="c-drawer__body">
				Drawer body
			</div>

			<div class="c-drawer__footer c-drawer__footer--block">
				<button class="c-button c-button--primary">Done</button>
			</div>
		</div>
	</div>
</div>

<div class="u-window-box--medium"></div>
<button class="c-button c-button--ghost-secondary" type="button" onclick="demo()">Animate</button>

<script>
	function demo() {
		document.getElementById('animate-drawer').classList.toggle('c-drawer--visible');
	}
</script>

<h3 class="c-heading c-heading--small c-text--mono">.a-drawer</h3>
<p class="c-paragraph">
	Apply the <code class="c-code">.a-drawer</code> class to enable animation on a drawer. To hide and show the drawer
	toggle the
	<code class="c-code">.c-drawer--visible</code> modifier and it will slide in and out.
</p>

<h3 class="c-heading c-heading--small"><span class="c-text--mono">--slow, --fast</span></h3>
<p class="c-paragraph">
	Every animation comes with slow and fast modifiers.
</p>
