---
layout: page
title: Headings
---

<p class="c-paragraph">
	All headings from <span class="c-text--loud">super</span> to <span class="c-text--loud">extra small</span> are available.
</p>

<p class="c-paragraph">
	Blaze doesn't style native elements such as <span class="c-text--mono">&lt;h1></span>, <span class="c-text--mono">&lt;h2></span> etc.
	so to apply our heading styles you must use our classes.
</p>

<h1 class="c-heading c-heading--super">Super</h1>
<pre class="c-pre html"><code class="c-code">&lt;h1 class="c-heading c-heading--super">Super&lt;/h1></code></pre>

<h2 class="c-heading c-heading--xlarge">Extra Large</h2>
<pre class="c-pre html"><code class="c-code">&lt;h2 class="c-heading c-heading--xlarge">Extra Large&lt;/h2></code></pre>

<h3 class="c-heading c-heading--large">Large</h3>
<pre class="c-pre html"><code class="c-code">&lt;h3 class="c-heading c-heading--large">Large&lt;/h3></code></pre>

<h4 class="c-heading c-heading--medium">Medium</h4>
<pre class="c-pre html"><code class="c-code">&lt;h4 class="c-heading c-heading--medium">Medium&lt;/h4></code></pre>

<h5 class="c-heading c-heading--small">Small</h5>
<pre class="c-pre html"><code class="c-code">&lt;h5 class="c-heading c-heading--small">Small&lt;/h5></code></pre>

<h6 class="c-heading c-heading--xsmall">Extra Small</h6>
<pre class="c-pre html"><code class="c-code">&lt;h6 class="c-heading c-heading--xsmall">Extra Small&lt;/h6></code></pre>
