---
layout: page
title: Headings
---

<p class="c-paragraph">
	Apply our heading class and Blaze will style your h1 to h6 tags for you.
</p>

<h1 class="c-heading">Super</h1>
<pre class="c-pre html"><code class="c-code">&lt;h1 class="c-heading">Super&lt;/h1></code></pre>

<h2 class="c-heading">Extra Large</h2>
<pre class="c-pre html"><code class="c-code">&lt;h2 class="c-heading">Extra Large&lt;/h2></code></pre>

<h3 class="c-heading">Large</h3>
<pre class="c-pre html"><code class="c-code">&lt;h3 class="c-heading">Large&lt;/h3></code></pre>

<h4 class="c-heading">Medium</h4>
<pre class="c-pre html"><code class="c-code">&lt;h4 class="c-heading">Medium&lt;/h4></code></pre>

<h5 class="c-heading">Small</h5>
<pre class="c-pre html"><code class="c-code">&lt;h5 class="c-heading">Small&lt;/h5></code></pre>

<h6 class="c-heading">Extra Small</h6>
<pre class="c-pre html"><code class="c-code">&lt;h6 class="c-heading">Extra Small&lt;/h6></code></pre>
