---
layout: page
title: Images
---

<p class="paragraph">
	Images are simply display block, 100% wide with height of auto.
</p>

<div class="grid grid--small-full">
	<div class="grid__cell grid__cell--width-50 letter-box--small demo-container">
		<img class="image" src="https://unsplash.it/1024/963?random">
	</div>
	<div class="grid__cell grid__cell--width-50 letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;img class="image" src="https://unsplash.it/1024/963?random"></code></pre></div>
</div>