---
layout: page
title: Inputs
---

<p class="c-paragraph">
	From single input controls like text boxes to full form patterns.
</p>
<p class="c-paragraph">
	Add <code class="c-code">.field</code> to your text boxes.
</p>

<h2 id="text-input" class="c-heading c-heading--medium">Text Input</h2>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<input class="c-field" placeholder="Type in here..." type="text">
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;input class="c-field" type="text"></code></pre></div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<textarea class="c-field" placeholder="Type in here..."></textarea>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;textarea class="c-field">&lt;/textarea></code></pre></div>
</div>

<h3 id="colours" class="c-heading c-heading--small">Colours</h3>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<input class="c-field c-field--success" placeholder=".c-field--success" type="text">
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;input class="c-field c-field--success" type="text"></code></pre></div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<input class="c-field c-field--error" placeholder=".c-field--error" type="text">
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;input class="c-field c-field--error" type="text"></code></pre></div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<input class="c-field" disabled placeholder="disabled" type="text">
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;input class="c-field" disabled type="text"></code></pre></div>
</div>

<h3 id="size" class="c-heading c-heading--small">Sizes</h3>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<input class="c-field c-field--xsmall" placeholder=".c-field--xsmall" type="text">
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;input class="c-field c-field--xsmall" type="text"></code></pre></div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<input class="c-field c-field--small" placeholder=".c-field--small" type="text">
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;input class="c-field c-field--small" type="text"></code></pre></div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<input class="c-field c-field--medium" placeholder=".c-field--medium" type="text">
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;input class="c-field c-field--medium" type="text"></code></pre></div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<input class="c-field c-field--large" placeholder=".c-field--large" type="text">
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;input class="c-field c-field--large" type="text"></code></pre></div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<input class="c-field c-field--xlarge" placeholder=".c-field--xlarge" type="text">
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;input class="c-field c-field--xlarge" type="text"></code></pre></div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<input class="c-field c-field--super" placeholder=".c-field--super" type="text">
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;input class="c-field c-field--super" type="text"></code></pre></div>
</div>

<h2 id="field-input-groups" class="c-heading c-heading--medium">Field and Input Groups</h2>
<p class="c-paragraph">
	If you want to squash a controls together...
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-field-group">
			<input class="c-field" placeholder=".field-group">
			<textarea class="c-field" placeholder=".field-group"></textarea>
			<input class="c-field" placeholder=".field-group">
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-field-group">
  &lt;input class="c-field">
  &lt;textarea class="c-field">&lt;/textarea>
  &lt;input class="c-field">
&lt;/div></code></pre>
	</div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-field-group-inline">
			<input class="c-field" placeholder=".field-group-inline">
			<input class="c-field" placeholder=".field-group-inline">
			<input class="c-field" placeholder=".field-group-inline">
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-field-group-inline">
  &lt;input class="c-field">
  &lt;textarea class="c-field">&lt;/textarea>
  &lt;input class="c-field">
&lt;/div></code></pre>
	</div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-input-group">
			<input class="c-field" placeholder=".c-input-group">
			<button class="c-button c-button--primary">Action</button>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-input-group">
  &lt;input class="c-field" type="text">
  &lt;button class="c-button c-button--primary">Action&lt;/button>
&lt;/div></code></pre>
	</div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-input-group">
			<button class="c-button c-button--secondary">Action</button>
			<input class="c-field" placeholder=".c-input-group">
			<button class="c-button c-button--primary">Action</button>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-input-group">
  &lt;button class="c-button c-button--secondary">Action&lt;/button>
  &lt;input class="c-field" type="text">
  &lt;button class="c-button c-button--primary">Action&lt;/button>
&lt;/div></code></pre>
	</div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-input-group">
			<button class="c-button c-button--secondary">Action</button>
			<input class="c-field" placeholder=".c-input-group">
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-input-group">
  &lt;button class="c-button c-button--secondary">Action&lt;/button>
  &lt;input class="c-field" type="text">
&lt;/div></code></pre>
	</div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-input-group c-input-group--rounded">
			<button class="c-button c-button--success">Action</button>
			<input class="c-field" placeholder=".c-input-group--rounded">
			<button class="c-button c-button--error">Action</button>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-input-group c-input-group--rounded">
  &lt;button class="c-button c-button--success">Action&lt;/button>
  &lt;input class="c-field" type="text">
  &lt;button class="c-button c-button--error">Action&lt;/button>
&lt;/div></code></pre>
	</div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-input-group c-input-group--rounded-left">
			<button class="c-button c-button--success">Action</button>
			<input class="c-field" placeholder=".c-input-group--rounded-left">
			<button class="c-button c-button--error">Action</button>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-input-group c-input-group--rounded-left">
  &lt;button class="c-button c-button--success">Action&lt;/button>
  &lt;input class="c-field" type="text">
  &lt;button class="c-button c-button--error">Action&lt;/button>
&lt;/div></code></pre>
	</div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-input-group c-input-group--rounded-right">
			<button class="c-button c-button--success">Action</button>
			<input class="c-field" placeholder=".c-input-group--rounded-right">
			<button class="c-button c-button--error">Action</button>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-input-group c-input-group--rounded-right">
  &lt;button class="c-button c-button--success">Action&lt;/button>
  &lt;input class="c-field" type="text">
  &lt;button class="c-button c-button--error">Action&lt;/button>
&lt;/div></code></pre>
	</div>
</div>

<h2 id="selects" class="c-heading c-heading--medium">Selects</h2>
<p class="c-paragraph">
	Add <code class="c-code">.c-choice</code> to your selects, radios and checkboxes.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<select class="c-choice">
			<option>First option</option>
		</select>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;select class="c-choice">
  &lt;option>...&lt;/option>
&lt;/select></code></pre>
	</div>
</div>

<h3 id="select-colours" class="c-heading c-heading--small">Colours</h3>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<select class="c-choice c-choice--success">
			<option>.c-choice--success</option>
		</select>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;select class="c-choice c-choice--success">
  &lt;option>...&lt;/option>
&lt;/select></code></pre>
	</div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<select class="c-choice c-choice--error">
			<option>.c-choice--error</option>
		</select>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;select class="c-choice c-choice--error">
  &lt;option>...&lt;/option>
&lt;/select></code></pre>
	</div>
</div>

<h3 id="select-sizes" class="c-heading c-heading--small">Sizes</h3>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<select class="c-choice c-choice--xsmall">
			<option>.c-choice--xsmall</option>
		</select>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;select class="c-choice c-choice--xsmall">
  &lt;option>...&lt;/option>
&lt;/select></code></pre>
	</div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<select class="c-choice c-choice--small">
			<option>.c-choice--small</option>
		</select>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;select class="c-choice c-choice--small">
  &lt;option>...&lt;/option>
&lt;/select></code></pre>
	</div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<select class="c-choice c-choice--medium">
			<option>.c-choice--medium</option>
		</select>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;select class="c-choice c-choice--medium">
  &lt;option>...&lt;/option>
&lt;/select></code></pre>
	</div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<select class="c-choice c-choice--large">
			<option>.c-choice--large</option>
		</select>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;select class="c-choice c-choice--large">
  &lt;option>...&lt;/option>
&lt;/select></code></pre>
	</div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<select class="c-choice c-choice--xlarge">
			<option>.c-choice--xlarge</option>
		</select>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;select class="c-choice c-choice--xlarge">
  &lt;option>...&lt;/option>
&lt;/select></code></pre>
	</div>
</div>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<select class="c-choice c-choice--super">
			<option>.c-choice--super</option>
		</select>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;select class="c-choice c-choice--super">
  &lt;option>...&lt;/option>
&lt;/select></code></pre>
	</div>
</div>

<h2 id="checkboxes-radios" class="c-heading c-heading--medium">Checkboxes and Radios</h2>
<p class="c-paragraph">
	Place your checkboxes and radios within labels and append the <code class="c-code">.c-choice</code> class.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<label class="c-choice">
			<input type="checkbox"> Tick the box
		</label>
		<label class="c-choice">
			<input name="radios" type="radio" checked> Yes
		</label>
		<label class="c-choice">
			<input name="radios" type="radio"> No
		</label>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;label class="c-choice">
  &lt;input type="checkbox"> Tick the box
&lt;/label>
&lt;label class="c-choice">
  &lt;input name="radios" type="radio" checked> Yes
&lt;/label>
&lt;label class="c-choice">
  &lt;input name="radios" type="radio"> No
&lt;/label></code></pre>
	</div>
</div>

<h3 id="checkbox-radios-colours" class="c-heading c-heading--small">Colours</h3>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<label class="c-choice c-choice--success">
			<input type="checkbox" checked> <span class="c-text--mono">.c-choice--success</span>
		</label>
		<label class="c-choice c-choice--error">
			<input type="radio" checked> <span class="c-text--mono">.c-choice--error</span>
		</label>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;label class="c-choice c-choice--success">
  &lt;input type="checkbox"> &lt;span class="c-text--mono">.c-choice--success&lt;/span>
&lt;/label>
&lt;label class="c-choice c-choice--error">
  &lt;input type="checkbox"> &lt;span class="c-text--mono">.c-choice--error&lt;/span>
&lt;/label></code></pre>
	</div>
</div>

<h3 id="checkboxes-radios-sizes" class="c-heading c-heading--small">Sizes</h3>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<label class="c-choice c-choice--xsmall">
			<input type="checkbox" checked> <span class="c-text--mono">.c-choice--xsmall</span>
		</label>
		<label class="c-choice c-choice--small">
			<input type="checkbox" checked> <span class="c-text--mono">.c-choice--small</span>
		</label>
		<label class="c-choice c-choice--medium">
			<input type="checkbox" checked> <span class="c-text--mono">.c-choice--medium</span>
		</label>
		<label class="c-choice c-choice--large">
			<input type="checkbox" checked> <span class="c-text--mono">.c-choice--large</span>
		</label>
		<label class="c-choice c-choice--xlarge">
			<input type="checkbox" checked> <span class="c-text--mono">.c-choice--xlarge</span>
		</label>
		<label class="c-choice c-choice--super">
			<input type="checkbox" checked> <span class="c-text--mono">.c-choice--super</span>
		</label>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;label class="c-choice c-choice--xsmall">
  &lt;input type="checkbox" checked> &lt;span class="c-text--mono">.c-choice--xsmall&lt;/span>
&lt;/label>
&lt;label class="c-choice c-choice--small">
  &lt;input type="checkbox" checked> &lt;span class="c-text--mono">.c-choice--small&lt;/span>
&lt;/label>
&lt;label class="c-choice c-choice--medium">
  &lt;input type="checkbox" checked> &lt;span class="c-text--mono">.c-choice--medium&lt;/span>
&lt;/label>
&lt;label class="c-choice c-choice--large">
  &lt;input type="checkbox" checked> &lt;span class="c-text--mono">.c-choice--large&lt;/span>
&lt;/label>
&lt;label class="c-choice c-choice--xlarge">
  &lt;input type="checkbox" checked> &lt;span class="c-text--mono">.c-choice--xlarge&lt;/span>
&lt;/label>
&lt;label class="c-choice c-choice--super">
  &lt;input type="checkbox" checked> &lt;span class="c-text--mono">.c-choice--super&lt;/span>
&lt;/label></code></pre>
	</div>
</div>

<h2 id="fieldsets-legends" class="c-heading c-heading--medium">Fieldsets and Legends</h2>
<p class="c-paragraph">
	Use <code class="c-code">.fieldset</code> and <code class="c-code">.fieldset__legend</code> classes to apply Blaze's styles to ensure
	consistent fieldset behaviours.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<fieldset class="c-fieldset">
			<legend class="c-fieldset__legend">A group of controls</legend>
			<label class="c-choice">
				<input type="radio" name="optionsRadios">
				Option one
			</label>
			<label class="c-choice">
				<input type="radio" name="optionsRadios">
				Option two
			</label>
		</fieldset>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;fieldset class="c-fieldset">
  &lt;legend class="c-fieldset__legend">A group of controls&lt;/legend>
  &lt;label class="c-choice">
    &lt;input type="radio" name="optionsRadios"> Option one
  &lt;/label>
  &lt;label class="c-choice">
    &lt;input type="radio" name="optionsRadios"> Option two
  &lt;/label>
&lt;/fieldset></code></pre>
	</div>
</div>

<h3 id="disabled-fieldset" class="c-heading c-heading--small">Disabled fieldset</h3>
<p class="c-paragraph">
	Disabling a fieldset will disable all controls within it and Blaze will apply the disabled styling.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<fieldset class="c-fieldset" disabled>
			<legend class="c-fieldset__legend">A group of controls</legend>
			<label class="c-choice">
				<input type="radio" name="optionsRadios">
				Option one
			</label>
			<label class="c-choice">
				<input type="radio" name="optionsRadios">
				Option two
			</label>
		</fieldset>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;fieldset class="c-fieldset" disabled>
  &lt;legend class="c-fieldset__legend">A group of controls&lt;/legend>
  &lt;label class="c-choice">
    &lt;input type="radio" name="optionsRadios"> Option one
  &lt;/label>
  &lt;label class="c-choice">
    &lt;input type="radio" name="optionsRadios"> Option two
  &lt;/label>
&lt;/fieldset></code></pre>
	</div>
</div>

<h2 id="labels-forms-elements" class="c-heading c-heading--medium">Labels and Form Elements</h2>
<p class="c-paragraph">
	You can either use the <code class="c-code">for</code> attribute on labels to tie the label to the input
	or wrap your fields within labels. If you wrap your fields within labels replace the <code class="c-code">.field</code>
	class with <code class="c-code">.label__field</code> element class on your text inputs.
</p>
<p class="c-paragraph">
	We recommend wrapping your label and inputs within a <code class="c-code">.c-form-element</code>
	block, this will supply the block with some vertical padding; ready to be placed within a form.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-form-element">
			<label class="c-label" for="nickname">Nickname:</label>
			<input id="nickname" class="c-field" placeholder="Nickname" >
		</div>
		<label class="c-label c-form-element">
			Real name:
			<input class="c-label__field" placeholder="Real name">
		</label>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;!-- Approach one -->
&lt;div class="c-form-element">
  &lt;label class="c-label" for="nickname">Nickname:&lt;/label>
  &lt;input id="nickname" class="c-field" placeholder="Nickname" >
&lt;/div>
&lt;!-- Approach two -->
&lt;label class="c-label c-form-element">
  Real name:
  &lt;input class="c-label__field" placeholder="Real name">
&lt;/label></code></pre>
	</div>
</div>

<h2 id="hints" class="c-heading c-heading--medium">Hints</h2>
<p class="c-paragraph">
	If you want to help your users fill in your forms a placeholder is a useful way of providing help.
</p>
<p class="c-paragraph">
	Problem with placeholders is that they disappear as soon as you enter text into the input, increasing the user's
	cognitive load. This is where hints come in, a hint will appear below a text input and stay there as you enter text.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<label class="c-label">
			Username:
			<input class="c-label__field">
			<div class="c-hint a-hint">Make up a username or use your email address</div>
		</label>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;label class="c-label">
  Username:
  &lt;input class="c-label__field">
  &lt;div class="c-hint a-hint">Make up a username or use your email address&lt;/div>
&lt;/label></code></pre>
	</div>
</div>
<p class="c-paragraph">
	<code class="c-code">.c-hint--static</code> will make the hint visible at all times.
</p>
<p class="c-paragraph">
	There are also <code class="c-code">.c-hint--success</code> and <code class="c-code">.c-hint--error</code> modifiers
	that will change the colour of the text.
</p>

<h2 id="forms" class="c-heading c-heading--medium">Forms</h2>
<p class="c-paragraph">
	Blaze has no classes for forms, rather it relies on styling the child blocks of forms;
	fieldsets, legends, c-form-elements, labels, fields and c-choices. 
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<fieldset class="c-fieldset">
			<legend class="c-fieldset__legend">Please complete the form:</legend>
			<div class="c-form-element">
				<label class="c-label" for="houseno">Address line 1:</label>
				<input id="houseno" placeholder="House name or number" class="c-field">
			</div>
			<label class="c-label c-form-element">
				Postcode:
				<input class="c-label__field" placeholder="e.g. AB12 3CD">
			</label>
			<label class="c-label c-choice c-form-element">
				<input type="checkbox">
				Send me spam
			</label>
			<fieldset class="c-fieldset c-list c-list--inline c-list--unstyled">
				<legend class="c-fieldset__legend">Account login:</legend>
				<label class="c-label c-choice c-list__item">
					<input type="radio" name="account" checked>
					New user
				</label>
				<label class="c-label c-choice c-list__item">
					<input type="radio" name="account">
					Existing user
				</label>
			</fieldset>
		</fieldset>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;fieldset class="c-fieldset">
  &lt;legend class="c-fieldset__legend">Please complete the form:&lt;/legend>
  &lt;div class="c-form-element">
    &lt;label class="c-label" for="houseno">
      Address line 1:
    &lt;/label>
    &lt;input id="houseno" placeholder="House name or number" class="c-field">
  &lt;/div>
  &lt;label class="c-label c-form-element">
    Postcode:
    &lt;input class="c-label__field" placeholder="e.g. AB12 3CD">
  &lt;/label>
  &lt;label class="c-label c-choice c-form-element">
    &lt;input type="checkbox">
    Send me spam
  &lt;/label>
  &lt;fieldset class="c-fieldset c-list c-list--inline c-list--unstyled">
    &lt;legend class="c-fieldset__legend">Account login:&lt;/legend>
    &lt;label class="c-label c-choice c-list__item">
      &lt;input type="radio" name="account" checked>
      New user
    &lt;/label>
    &lt;label class="c-label c-choice c-list__item">
      &lt;input type="radio" name="account">
      Existing user
    &lt;/label>
  &lt;/fieldset>
&lt;/fieldset></code></pre>
	</div>
</div>
