---
layout: page
title: Lists
---

<p class="c-paragraph">
	Ordered, un-ordered, indented, Blaze has you covered when it comes to making lists.
</p>

<h2 id="un-ordered" class="c-heading c-heading--medium">Un-ordered</h2>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<ul class="c-list">
			<li class="c-list__item">Lorem ipsum dolor sit amet</li>
			<li class="c-list__item">Consectetur adipiscing elit</li>
			<li class="c-list__item">Nulla volutpat aliquam velit
				<ul class="c-list">
					<li class="c-list__item">Phasellus iaculis neque</li>
					<li class="c-list__item">Purus sodales ultricies</li>
					<li class="c-list__item">Vestibulum laoreet porttitor sem</li>
					<li class="c-list__item">Ac tristique libero volutpat at</li>
				</ul>
			</li>
			<li class="c-list__item">Faucibus porta lacus fringilla vel</li>
		</ul>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;ul class="c-list">
  &lt;li class="c-list__item">Lorem ipsum dolor sit amet&lt;/li>
  &lt;li class="c-list__item">Consectetur adipiscing elit&lt;/li>
  &lt;li class="c-list__item">Nulla volutpat aliquam velit
    &lt;ul class="c-list">
      &lt;li class="c-list__item">Phasellus iaculis neque&lt;/li>
      &lt;li class="c-list__item">Purus sodales ultricies&lt;/li>
      &lt;li class="c-list__item">Vestibulum laoreet porttitor sem&lt;/li>
      &lt;li class="c-list__item">Ac tristique libero volutpat at&lt;/li>
    &lt;/ul>
  &lt;/li>
&lt;li class="c-list__item">Faucibus porta lacus fringilla vel&lt;/li>
&lt;/ul></code></pre></div>
</div>

<h2 id="ordered" class="c-heading c-heading--medium">Ordered</h2>
<p class="c-paragraph">
	The <code class="c-code">.list--ordered</code> modifier will apply correct numbering to ordered lists and nested lists.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<ol class="c-list c-list--ordered">
			<li class="c-list__item">Lorem ipsum dolor sit amet</li>
			<li class="c-list__item">Consectetur adipiscing elit</li>
			<li class="c-list__item">Nulla volutpat aliquam velit
				<ol class="c-list c-list--ordered">
					<li class="c-list__item">Phasellus iaculis neque</li>
					<li class="c-list__item">Purus sodales ultricies
						<ol class="c-list c-list--ordered">
							<li class="c-list__item">Lorem ipsum dolor sit amet</li>
							<li class="c-list__item">Consectetur adipiscing elit</li>
						</ol>
					</li>
					<li class="c-list__item">Vestibulum laoreet porttitor sem</li>
					<li class="c-list__item">Ac tristique libero volutpat at</li>
				</ol>
			</li>
			<li class="c-list__item">Faucibus porta lacus fringilla vel</li>
		</ol>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;ol class="c-list c-list--ordered">
  &lt;li class="c-list__item">Lorem ipsum dolor sit amet&lt;/li>
  &lt;li class="c-list__item">Consectetur adipiscing elit&lt;/li>
  &lt;li class="c-list__item">Nulla volutpat aliquam velit
    &lt;ol class="c-list c-list--ordered">
      &lt;li class="c-list__item">Phasellus iaculis neque&lt;/li>
      &lt;li class="c-list__item">Purus sodales ultricies
        &lt;ol class="c-list c-list--ordered">
          &lt;li class="c-list__item">Lorem ipsum dolor sit amet&lt;/li>
          &lt;li class="c-list__item">Consectetur adipiscing elit&lt;/li>
        &lt;/ol>
      &lt;/li>
      &lt;li class="c-list__item">Vestibulum laoreet porttitor sem&lt;/li>
      &lt;li class="c-list__item">Ac tristique libero volutpat at&lt;/li>
    &lt;/ol>
  &lt;/li>
  &lt;li class="c-list__item">Faucibus porta lacus fringilla vel&lt;/li>
&lt;/ol></code></pre></div>
</div>

<h2 id="un-styled" class="c-heading c-heading--medium">Un-styled</h2>
<p class="c-paragraph">
	Applying <code class="c-code">.list--unstyled</code> to a list will remove the bullet points.
</p>
<p class="c-paragraph">
	You can remove bullet points on individual items by adding the <code class="c-code">.list__item--unstyled</code> modifier.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<ul class="c-list c-list--unstyled">
			<li class="c-list__item">This list is unstyled</li>
			<li class="c-list__item">Consectetur adipiscing elit</li>
			<li class="c-list__item">Nulla volutpat aliquam velit
				<ul class="c-list">
					<li class="c-list__item">Phasellus iaculis neque</li>
					<li class="c-list__item">Purus sodales ultricies</li>
					<li class="c-list__item c-list__item--unstyled">This is an unstyled item</strong></li>
					<li class="c-list__item">Ac tristique libero volutpat at</li>
				</ul>
			</li>
			<li class="c-list__item">Faucibus porta lacus fringilla vel</li>
		</ul>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;ul class="c-list c-list--unstyled">
  &lt;li class="c-list__item">&lt;strong>I'm an unstyled list&lt;/strong>&lt;/li>
  &lt;li class="c-list__item">Consectetur adipiscing elit&lt;/li>
  &lt;li class="c-list__item">Nulla volutpat aliquam velit
    &lt;ul class="c-list"> &lt;!-- Has bullet points-->
      &lt;li class="c-list__item">Phasellus iaculis neque&lt;/li>
      &lt;li class="c-list__item">Purus sodales ultricies&lt;/li>
      &lt;li class="c-list__item c-list__item--unstyled">&lt;strong>I'm an unstyled item&lt;/strong>&lt;/li>
      &lt;li class="c-list__item">Ac tristique libero volutpat at&lt;/li>
    &lt;/ul>
  &lt;/li>
  &lt;li class="c-list__item">Faucibus porta lacus fringilla vel&lt;/li>
&lt;/ul></code></pre></div>
</div>

<h2 id="inline" class="c-heading c-heading--medium">Inline</h2>
<p class="c-paragraph">
	To make your list items flow left to right apply the <code class="c-code">.list--inline</code> modifier.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<ul class="c-list c-list--inline">
			<li class="c-list__item">Lorem</li>
			<li class="c-list__item">ipsum</li>
			<li class="c-list__item">dolor</li>
		</ul>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;ul class="c-list c-list--inline">
  &lt;li class="c-list__item">Lorem&lt;/li>
  &lt;li class="c-list__item">ipsum&lt;/li>
  &lt;li class="c-list__item">dolor&lt;/li>
&lt;/ul></code></pre></div>
</div>
