---
layout: page
title: Menus
---

<p class="paragraph">
	Menus inherit a lot of styles from <a class="link" href="/components/cards">Cards</a> but are primarily designed as
	dropdown replacements rather than page segments.
</p>

<div class="grid grid--small-full letter-box--large">
	<div class="grid__cell grid__cell--width-50">
		<ul class="menu menu--high">
			<li class="menu__item">Menu 1</li>
			<li class="menu__item">Menu 2</li>
			<li class="menu__item menu__item--divider">Divider</li>
			<li class="menu__item">Menu 3</li>
			<li class="menu__item">Menu 4</li>
			<li class="menu__item menu__item--disabled">Menu item disabled</li>
			<li class="menu__item menu__item--active">Menu item active</li>
			<li class="menu__item">Menu 5</li>
			<li class="menu__item">Menu 6</li>
			<li class="menu__item">Menu 7</li>
			<li class="menu__item">Menu 8</li>
			<li class="menu__item">Menu 9</li>
			<li class="menu__item">Menu 10</li>
		</ul>
	</div>
	<div class="grid__cell grid__cell--width-50 letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;ul class="menu menu--high">
  &lt;li class="menu__item">Menu 1&lt;/li>
  &lt;li class="menu__item">Menu 2&lt;/li>
  &lt;li class="menu__item menu__item--divider">Divider&lt;/li>
  &lt;li class="menu__item">Menu 3&lt;/li>
  &lt;li class="menu__item">Menu 4&lt;/li>
  &lt;li class="menu__item menu__item--disabled">Menu item disabled&lt;/li>
  &lt;li class="menu__item menu__item--active">Menu item active&lt;/li>
  &lt;li class="menu__item">Menu 5&lt;/li>
  &lt;li class="menu__item">Menu 6&lt;/li>
  &lt;li class="menu__item">Menu 7&lt;/li>
  &lt;li class="menu__item">Menu 8&lt;/li>
  &lt;li class="menu__item">Menu 9&lt;/li>
  &lt;li class="menu__item">Menu 10&lt;/li>
&lt;/ul></code></pre></div>
</div>
