---
layout: page
title: Modals
---

<p class="c-paragraph">
	Modal popups, with great power comes great responsibility. Please use modals wisely.
</p>

<h2 class="c-heading c-heading--medium">Basic Modal</h2>
<p class="c-paragraph">
	Your basic modal has a variety of elements to it. <code class="c-code">.c-overlay</code> will expand to fill the current
	space, more information on <a class="c-link" href="/components/overlays">overlays</a> is available.
</p>
<p class="c-paragraph">
	The modal it self consists of a <code class="c-code">.c-modal__header</code>, <code class="c-code">.c-modal__body</code> and
	a <code class="c-code">.c-modal__footer</code>.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small modal-demo">
		<div class="c-overlay"></div>
		<div class="c-modal">
			<header class="c-modal__header">
				<button type="button" class="c-button c-button--close">&times;</button>
				<h3 class="c-heading c-heading--small">Modal heading</h3>
			</header>

			<div class="c-modal__body">
				This is the modal body
			</div>

			<footer class="c-modal__footer">
				<button type="button" class="c-button c-button--primary">Close</button>
			</footer>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-overlay">&lt;/div>
&lt;div class="c-modal">
  &lt;header class="c-modal__header">
    &lt;button type="button" class="c-button c-button--close">&times;&lt;/button>
    &lt;h3 class="c-heading c-heading--small">Modal heading&lt;/h3>
  &lt;/header>

  &lt;div class="c-modal__body">
    This is the modal body
  &lt;/div>

  &lt;footer class="c-modal__footer">
    &lt;button type="button" class="c-button c-button--primary">Close&lt;/button>
  &lt;/footer>
&lt;/div></code></pre></div>
</div>

<h2 id="ghost" class="c-heading c-heading--medium">Ghost Modal</h2>
<p class="c-paragraph">
	This modal has no body, hence "ghost". Lol.
</p>
<p class="c-paragraph">
	To make a ghost modal simply add the <code class="c-code">.c-modal--ghost</code> modifier.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small modal-demo">
		<div class="c-overlay"></div>
		<div class="c-modal c-modal--ghost">
			<header class="c-modal__header">
				<button type="button" class="c-button c-button--close">&times;</button>
				<h3 class="c-heading c-heading--small">Modal heading</h3>
			</header>

			<div class="c-modal__body">
				This is the modal body
			</div>

			<footer class="c-modal__footer">
				<button type="button" class="c-button c-button--primary">Close</button>
			</footer>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-overlay">&lt;/div>
&lt;div class="c-modal c-modal--ghost">
  &lt;header class="c-modal__header">
    &lt;button type="button" class="c-button c-button--close">&times;&lt;/button>
    &lt;h3 class="c-heading c-heading--small">Modal heading&lt;/h3>
  &lt;/header>

  &lt;div class="c-modal__body">
    This is the modal body
  &lt;/div>

  &lt;footer class="c-modal__footer">
    &lt;button type="button" class="c-button c-button--primary">Close&lt;/button>
  &lt;/footer>
&lt;/div></code></pre></div>
</div>

<h2 id="block-footer-buttons" class="c-heading c-heading--medium">Block footer buttons</h2>
<p class="c-paragraph">
	Apply the <code class="c-code">.c-modal__footer--block</code> modifier to the footer to make your buttons full width.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small modal-demo">
		<div class="c-overlay"></div>
		<div class="c-modal">
			<header class="c-modal__header">
				<button type="button" class="c-button c-button--close">&times;</button>
				<h3 class="c-heading c-heading--small">Modal heading</h3>
			</header>

			<div class="c-modal__body">
				This is the modal body
			</div>

			<footer class="c-modal__footer c-modal__footer--block">
				<button type="button" class="c-button c-button--success">Yes</button>
				<button type="button" class="c-button c-button--error">No</button>
				<button type="button" class="c-button c-button--secondary">Cancel</button>
			</footer>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-overlay">&lt;/div>
&lt;div class="c-modal">
  &lt;header class="c-modal__header">
    &lt;button type="button" class="c-button c-button--close">&times;&lt;/button>
    &lt;h3 class="c-heading c-heading--small">Modal heading&lt;/h3>
  &lt;/header>

  &lt;div class="c-modal__body">
    This is the modal body
  &lt;/div>

  &lt;footer class="c-modal__footer c-modal__footer--block">
    &lt;button type="button" class="c-button c-button--success">Save&lt;/button>
    &lt;button type="button" class="c-button c-button--error">Cancel&lt;/button>
  &lt;/footer>
&lt;/div></code></pre></div>
</div>

<h2 id="modal-shadow" class="c-heading c-heading--medium">Modal Shadow</h2>
<p class="c-paragraph">
	To give your modal some perspective add the <code class="c-code">.c-modal--high</code>, <code class="c-code">.c-modal--higher</code> or
	<code class="c-code">.c-modal--highest</code> modifier. The effectiveness will depend on the colour of the background though.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small modal-demo">
		<div class="c-overlay"></div>
		<div class="c-modal c-modal--highest">
			<header class="c-modal__header">
				<button type="button" class="c-button c-button--close">&times;</button>
				<h3 class="c-heading c-heading--small">Modal heading</h3>
			</header>

			<div class="c-modal__body">
				This is the modal body
			</div>

			<footer class="c-modal__footer">
				<button type="button" class="c-button c-button--primary">Close</button>
			</footer>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-overlay">&lt;/div>
&lt;div class="c-modal c-modal--highest">
  &lt;header class="c-modal__header">
    &lt;button type="button" class="c-button c-button--close">&times;&lt;/button>
    &lt;h3 class="c-heading c-heading--small">Modal heading&lt;/h3>
  &lt;/header>

  &lt;div class="c-modal__body">
    This is the modal body
  &lt;/div>

  &lt;footer class="c-modal__footer">
    &lt;button type="button" class="c-button c-button--primary">Close&lt;/button>
  &lt;/footer>
&lt;/div></code></pre></div>
</div>

<h2 id="animation" class="c-heading c-heading--medium">Animation</h2>

<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small modal-demo">
		<div class="c-overlay"></div>
		<div class="c-modal c-modal--highest a-modal a-modal" id="animate">
			<header class="c-modal__header">
				<button type="button" class="c-button c-button--close">&times;</button>
				<h3 class="c-heading c-heading--small">Modal heading</h3>
			</header>

			<div class="c-modal__body">
				This is the modal body
			</div>

			<footer class="c-modal__footer">
				<button type="button" class="c-button c-button--primary">Close</button>
			</footer>
		</div>
	</div>
</div>

<div class="u-letter-box--medium">
	<button class="c-button c-button--ghost-secondary" type="button" onclick="demo()">Animate</button>
</div>

<script>
	function demo() {
		document.getElementById('animate').classList.remove('a-modal');
		setTimeout(function () {
			document.getElementById('animate').classList.add('a-modal')
		}, 50);
	}
</script>

<h3 class="c-heading c-heading--small c-text--mono">.a-modal</h3>
<p class="c-paragraph">
	Apply the <code class="c-code">.a-modal</code> class to enable animation on the modal popup.
</p>

<h3 class="c-heading c-heading--small"><span class="c-text--mono">--slow, --fast</span></h3>
<p class="c-paragraph">
	Every animation comes with slow and fast modifiers.
</p>

<h3 class="c-heading c-heading--small c-text--mono">--top, --bottom, --left, --right</h3>
<p class="c-paragraph">
	Add one of these modifiers to change the origin of the animation. Top will make the animations appear to start from
	the top of the modal and so on. Default is from the center of the element.
</p>
