---
layout: page
title: Overlays
---

<p class="paragraph">
	Overlays are used in a lot of other components to blackout the background context of the page.
</p>
<p class="paragraph">To contain an overlay within an element set the parent element CSS to <code class="code">position: relative;</code></p>

<h2 class="heading heading--medium">Basic Overlay</h2>
<div class="grid grid--small-full">
	<div class="grid__cell letter-box--small modal-demo">
		<div class="overlay"></div>
	</div>
	<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="overlay">&lt;/div></code></pre></div>
</div>

<h2 class="heading heading--medium">Variations</h2>
<h3 class="heading heading--small mono">.overlay--dismissable</h3>
<p class="paragraph">
	To give the sense that you can click on an overlay to make it disappear give it the
	<code class="code">.overlay--dismissable</code> modifier.
</p>
<div class="grid grid--small-full">
	<div class="grid__cell letter-box--small modal-demo">
		<div class="overlay overlay--dismissable"></div>
	</div>
	<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="overlay overlay--dismissable">&lt;/div></code></pre></div>
</div>
<h3 class="heading heading--small mono">.overlay--transparent</h3>
<p class="paragraph">
	Overlays don't necessarily need to be visible, they can appear transparent to provide functionality but no visual cues.
	If so use the <code class="code">.overlay--transparent</code> modifier.
</p>
<div class="grid grid--small-full">
	<div class="grid__cell letter-box--small modal-demo">
		<div class="overlay overlay--dismissable overlay--transparent"></div>
	</div>
	<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="overlay overlay--transparent">&lt;/div></code></pre></div>
</div>
<h3 class="heading heading--small mono">.overlay--fullpage</h3>
<p class="paragraph">
	You can make overlays cover the entire page by adding the <code class="code">.overlay--fullpage</code> modifier. The overlay will
	remain in a fixed position behind the content you want to promote.
</p>