---
layout: page
title: Overlays
---

<p class="c-paragraph">
	Overlays are used in a lot of other components to blackout the background context of the page.
</p>
<p class="c-paragraph">To contain an overlay within an element set the parent element CSS to <code class="c-code">position: relative;</code></p>

<h2 class="c-heading c-heading--medium">Basic Overlay</h2>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small modal-demo">
		<div class="c-overlay"></div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-overlay">&lt;/div></code></pre></div>
</div>

<h2 id="variations" class="c-heading c-heading--medium">Variations</h2>
<h3 id="dismissable" class="c-heading c-heading--small c-text--mono">.c-overlay--dismissable</h3>
<p class="c-paragraph">
	To give the sense that you can click on an overlay to make it disappear give it the
	<code class="c-code">.c-overlay--dismissable</code> modifier.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small modal-demo">
		<div class="c-overlay c-overlay--dismissable"></div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-overlay c-overlay--dismissable">&lt;/div></code></pre></div>
</div>
<h3 id="transparent" class="c-heading c-heading--small c-text--mono">.c-overlay--transparent</h3>
<p class="c-paragraph">
	Overlays don't necessarily need to be visible, they can appear transparent to provide functionality but no visual cues.
	If so use the <code class="c-code">.c-overlay--transparent</code> modifier.
</p>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small modal-demo">
		<div class="c-overlay c-overlay--dismissable c-overlay--transparent"></div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-overlay c-overlay--transparent">&lt;/div></code></pre></div>
</div>
<h3 id="fullpage" class="c-heading c-heading--small c-text--mono">.c-overlay--fullpage</h3>
<p class="c-paragraph">
	You can make overlays cover the entire page by adding the <code class="c-code">.c-overlay--fullpage</code> modifier. The overlay will
	remain in a fixed position behind the content you want to promote.
</p>


<h2 id="animation" class="c-heading c-heading--medium">Animation</h2>

<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small modal-demo">
		<div class="c-overlay c-overlay--dismissable a-overlay a-overlay--slow" id="animate"></div>
	</div>
</div>

<div class="u-letter-box--medium">
	<button class="c-button c-button--ghost-secondary" type="button" onclick="demo()">Animate</button>
</div>

<script>
	function demo() {
		document.getElementById('animate').classList.remove('a-overlay');
		setTimeout(function () {
			document.getElementById('animate').classList.add('a-overlay')
		}, 50);
	}
</script>

<h3 class="c-heading c-heading--small c-text--mono">.a-overlay</h3>
<p class="c-paragraph">
	Apply the <code class="c-code">.a-overlay</code> class to enable animation on the overlay.
</p>

<h3 class="c-heading c-heading--small"><span class="c-text--mono">--slow, --fast</span></h3>
<p class="c-paragraph">
	Every animation comes with slow and fast modifiers.
</p>
