---
layout: page
title: Pagination
---

<p class="paragraph">
	Infinite scrolling for the 20th century.
</p>


<div class="pagination">
	<div class="pagination__controls pagination__controls--backward">
		<button class="pagination__control">&laquo;</button>
		<button class="pagination__control">&lsaquo;</button>
	</div>
	<div class="pagination__controls">
		<span class="pagination__ellipsis">&hellip;</span>
		<button class="pagination__page">3</button>
		<button class="pagination__page">4</button>
		<button class="pagination__page">5</button>
		<button class="pagination__page">6</button>
		<span class="pagination__ellipsis">&hellip;</span>
	</div>
	<div class="pagination__controls pagination__controls--forward">
		<button class="pagination__control">&rsaquo;</button>
		<button class="pagination__control">&raquo;</button>
	</div>
</div>
<div class="letter-box--large">
<pre class="pre html"><code class="code code--multiline">&lt;div class="pagination">
  &lt;div class="pagination__controls pagination__controls--backward">
    &lt;button class="pagination__control">&laquo;&lt;/button>
    &lt;button class="pagination__control">&lsaquo;&lt;/button>
  &lt;/div>
  &lt;div class="pagination__controls">
    &lt;span class="pagination__ellipsis">&hellip;&lt;/span>
    &lt;button class="pagination__page">3&lt;/button>
    &lt;button class="pagination__page">4&lt;/button>
    &lt;button class="pagination__page">5&lt;/button>
    &lt;button class="pagination__page">6&lt;/button>
    &lt;span class="pagination__ellipsis">&hellip;&lt;/span>
  &lt;/div>
  &lt;div class="pagination__controls pagination__controls--forward">
    &lt;button class="pagination__control">&rsaquo;&lt;/button>
    &lt;button class="pagination__control">&raquo;&lt;/button>
  &lt;/div>
&lt;/div></code></pre>
</div>