---
layout: page
title: Pagination
---

<p class="c-paragraph">
	Smooth infinite scrolling for the 20th century.
</p>

<div class="c-pagination">
	<div class="c-pagination__controls c-pagination__controls--backward">
		<button class="c-pagination__control">&laquo;</button>
		<button class="c-pagination__control">&lsaquo;</button>
	</div>
	<div class="c-pagination__controls">
		<span class="c-pagination__ellipsis">&hellip;</span>
		<button class="c-pagination__page">4</button>
		<button class="c-pagination__page c-pagination__page--current">5</button>
		<button class="c-pagination__page">6</button>
		<span class="c-pagination__ellipsis">&hellip;</span>
	</div>
	<div class="c-pagination__controls c-pagination__controls--forward">
		<button class="c-pagination__control">&rsaquo;</button>
		<button class="c-pagination__control">&raquo;</button>
	</div>
</div>
<div class="u-letter-box--large">
<pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-pagination">
  &lt;div class="c-pagination__controls c-pagination__controls--backward">
    &lt;button class="c-pagination__control">&laquo;&lt;/button>
    &lt;button class="c-pagination__control">&lsaquo;&lt;/button>
  &lt;/div>
  &lt;div class="c-pagination__controls">
    &lt;span class="c-pagination__ellipsis">&hellip;&lt;/span>
    &lt;button class="c-pagination__page">4&lt;/button>
    &lt;button class="c-pagination__page c-pagination__page--current">5&lt;/button>
    &lt;button class="c-pagination__page">6&lt;/button>
    &lt;span class="c-pagination__ellipsis">&hellip;&lt;/span>
  &lt;/div>
  &lt;div class="c-pagination__controls c-pagination__controls--forward">
    &lt;button class="c-pagination__control">&rsaquo;&lt;/button>
    &lt;button class="c-pagination__control">&raquo;&lt;/button>
  &lt;/div>
&lt;/div></code></pre>
</div>
