---
layout: page
title: Progress
---

<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-progress">
            <div class="c-progress__bar" style="width:15%;"></div>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-progress">
  &lt;div class="c-progress__bar" style="width:15%;">&lt;/div>
&lt;/div></code></pre>
    </div>
</div>

<h2 class="c-heading">Rounded</h2>

<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-progress c-progress--rounded">
            <div class="c-progress__bar" style="width:15%;"></div>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-progress c-progress--rounded">
  &lt;div class="c-progress__bar" style="width:15%;">&lt;/div>
&lt;/div></code></pre>
    </div>
</div>

<h2 class="c-heading">colors</h2>

<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-progress">
            <div class="c-progress__bar" style="width:5%;"></div>
        </div><br>
        <div class="c-progress">
            <div class="c-progress__bar c-progress__bar--brand" style="width:15%;"></div>
        </div><br>
        <div class="c-progress">
            <div class="c-progress__bar c-progress__bar--info" style="width:20%;"></div>
        </div><br>
        <div class="c-progress">
            <div class="c-progress__bar c-progress__bar--warning" style="width:25%;"></div>
        </div><br>
        <div class="c-progress">
            <div class="c-progress__bar c-progress__bar--success" style="width:45%;"></div>
        </div><br>
        <div class="c-progress">
            <div class="c-progress__bar c-progress__bar--error" style="width:65%;"></div>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-progress">
  &lt;div class="c-progress__bar" style="width:5%;">&lt;/div>
&lt;/div>&lt;br>
&lt;div class="c-progress">
  &lt;div class="c-progress__bar c-progress__bar--brand" style="width:15%;">&lt;/div>
&lt;/div>&lt;br>
&lt;div class="c-progress">
  &lt;div class="c-progress__bar c-progress__bar--info" style="width:20%;">&lt;/div>
&lt;/div>&lt;br>
&lt;div class="c-progress">
  &lt;div class="c-progress__bar c-progress__bar--warning" style="width:25%;">&lt;/div>
&lt;/div>&lt;br>
&lt;div class="c-progress">
  &lt;div class="c-progress__bar c-progress__bar--success" style="width:45%;">&lt;/div>
&lt;/div>&lt;br>
&lt;div class="c-progress">
  &lt;div class="c-progress__bar c-progress__bar--error" style="width:65%;">&lt;/div>
&lt;/div></code></pre>
    </div>
</div>

<h2 class="c-heading">Sizes</h2>

<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-progress u-xsmall">
            <div class="c-progress__bar" style="width:5%;"></div>
        </div><br>
        <div class="c-progress u-small">
            <div class="c-progress__bar c-progress__bar--brand" style="width:15%;"></div>
        </div><br>
        <div class="c-progress u-medium">
            <div class="c-progress__bar c-progress__bar--info" style="width:20%;"></div>
        </div><br>
        <div class="c-progress u-large">
            <div class="c-progress__bar c-progress__bar--warning" style="width:25%;"></div>
        </div><br>
        <div class="c-progress u-xlarge">
            <div class="c-progress__bar c-progress__bar--success" style="width:45%;"></div>
        </div><br>
        <div class="c-progress u-super">
            <div class="c-progress__bar c-progress__bar--error" style="width:65%;"></div>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-progress u-xsmall">
  &lt;div class="c-progress__bar" style="width:5%;">&lt;/div>
&lt;/div>&lt;br>
&lt;div class="c-progress x-small">
  &lt;div class="c-progress__bar c-progress__bar--brand" style="width:15%;">&lt;/div>
&lt;/div>&lt;br>
&lt;div class="c-progress x-medium">
  &lt;div class="c-progress__bar c-progress__bar--info" style="width:20%;">&lt;/div>
&lt;/div>&lt;br>
&lt;div class="c-progress x-large">
  &lt;div class="c-progress__bar c-progress__bar--warning" style="width:25%;">&lt;/div>
&lt;/div>&lt;br>
&lt;div class="c-progress x-xlarge">
  &lt;div class="c-progress__bar c-progress__bar--success" style="width:45%;">&lt;/div>
&lt;/div>&lt;br>
&lt;div class="c-progress x-super">
  &lt;div class="c-progress__bar c-progress__bar--error" style="width:65%;">&lt;/div>
&lt;/div></code></pre>
    </div>
</div>

<h2 class="c-heading">Text</h2>

<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-progress u-xsmall">
            <div class="c-progress__bar" style="width:5%;">5%</div>
        </div><br>
        <div class="c-progress u-small">
            <div class="c-progress__bar c-progress__bar--brand" style="width:15%;">15%</div>
        </div><br>
        <div class="c-progress u-medium">
            <div class="c-progress__bar c-progress__bar--info" style="width:20%;">20%</div>
        </div><br>
        <div class="c-progress u-large">
            <div class="c-progress__bar c-progress__bar--warning" style="width:25%;">25%</div>
        </div><br>
        <div class="c-progress u-xlarge">
            <div class="c-progress__bar c-progress__bar--success" style="width:45%;">45%</div>
        </div><br>
        <div class="c-progress u-super">
            <div class="c-progress__bar c-progress__bar--error" style="width:65%;">65%</div>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-progress u-xsmall">
  &lt;div class="c-progress__bar" style="width:5%;">&lt;/div>
&lt;/div>&lt;br>
&lt;div class="c-progress x-small">
  &lt;div class="c-progress__bar c-progress__bar--brand" style="width:15%;">&lt;/div>
&lt;/div>&lt;br>
&lt;div class="c-progress x-medium">
  &lt;div class="c-progress__bar c-progress__bar--info" style="width:20%;">&lt;/div>
&lt;/div>&lt;br>
&lt;div class="c-progress x-large">
  &lt;div class="c-progress__bar c-progress__bar--warning" style="width:25%;">&lt;/div>
&lt;/div>&lt;br>
&lt;div class="c-progress x-xlarge">
  &lt;div class="c-progress__bar c-progress__bar--success" style="width:45%;">&lt;/div>
&lt;/div>&lt;br>
&lt;div class="c-progress x-super">
  &lt;div class="c-progress__bar c-progress__bar--error" style="width:65%;">&lt;/div>
&lt;/div></code></pre>
    </div>
</div>

<h2 class="c-heading">Stacked</h2>

<div class="o-grid o-grid--small-full">
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
        <div class="c-progress">
            <div class="c-progress__bar" style="width: 15%;"></div>
            <div class="c-progress__bar c-progress__bar--brand" style="width: 25%;"></div>
            <div class="c-progress__bar c-progress__bar--info" style="width: 10%;"></div>
            <div class="c-progress__bar c-progress__bar--warning" style="width: 12%;"></div>
            <div class="c-progress__bar c-progress__bar--success" style="width: 18%;"></div>
            <div class="c-progress__bar c-progress__bar--error" style="width: 3%;"></div>
        </div>
    </div>
    <div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code
            class="c-code c-code--multiline">&lt;div class="c-progress">
  &lt;div class="c-progress__bar" style="width: 15%;">&lt;/div>
  &lt;div class="c-progress__bar c-progress__bar--brand" style="width: 25%;">&lt;/div>
  &lt;div class="c-progress__bar c-progress__bar--info" style="width: 10%;">&lt;/div>
  &lt;div class="c-progress__bar c-progress__bar--warning" style="width: 12%;">&lt;/div>
  &lt;div class="c-progress__bar c-progress__bar--success" style="width: 18%;">&lt;/div>
  &lt;div class="c-progress__bar c-progress__bar--error" style="width: 3%;">&lt;/div>
&lt;/div></code></pre>
    </div>
</div>
