---
layout: page
title: Ranges
---

<p class="paragraph">
	Some people call these "sliders".
</p>

<h2 class="heading heading--medium">Basic Range</h2>
<div class="grid grid--small-full">
	<div class="grid__cell grid__cell--width-50 letter-box--small">
		<input type="range" class="range">

	</div>
	<div class="grid__cell grid__cell--width-50 letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;input type="range" class="range"></code></pre></div>
</div>

<h2 class="heading heading--medium">Colours</h2>
<div class="grid grid--small-full">
	<div class="grid__cell grid__cell--width-50 letter-box--small">
		<input type="range" class="range range--primary">
		<input type="range" class="range range--secondary">
		<input type="range" class="range range--success">
		<input type="range" class="range range--error">
		<input type="range" class="range" disabled>

	</div>
	<div class="grid__cell grid__cell--width-50 letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;input type="range" class="range range--primary">
&lt;input type="range" class="range range--secondary">
&lt;input type="range" class="range range--success">
&lt;input type="range" class="range range--error">
&lt;input type="range" class="range" disabled>
	</code></pre></div>
</div>
