---
layout: page
title: Ranges
---

<p class="c-paragraph">
	Some people call these "sliders".
</p>

<h2 class="c-heading c-heading--medium">Basic Range</h2>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<input type="range" class="c-range">

	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;input type="range" class="c-range"></code></pre></div>
</div>

<h2 id="colours" class="c-heading c-heading--medium">Colours</h2>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<input type="range" class="c-range c-range--primary">
		<input type="range" class="c-range c-range--secondary">
		<input type="range" class="c-range c-range--success">
		<input type="range" class="c-range c-range--error">
		<input type="range" class="c-range" disabled>

	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;input type="range" class="c-range c-range--primary">
&lt;input type="range" class="c-range c-range--secondary">
&lt;input type="range" class="c-range c-range--success">
&lt;input type="range" class="c-range c-range--error">
&lt;input type="range" class="c-range" disabled>
	</code></pre></div>
</div>

<h2 id="animation" class="c-heading c-heading--medium">Animation</h2>

<input type="range" class="c-range c-range--primary a-range a-range--slow">

<h3 class="c-heading c-heading--small c-text--mono">.a-range</h3>
<p class="c-paragraph">
	Apply the <code class="c-code">.a-range</code> class to enable animation on the range handle when moving it.
</p>

<h3 class="c-heading c-heading--small"><span class="c-text--mono">--slow, --fast</span></h3>
<p class="c-paragraph">
	Every animation comes with slow and fast modifiers.
</p>
