---
layout: page
title: Tabs
---

<p class="c-paragraph">
	Tabbed content, useful to toggle between content without jumping around the page or across pages.
</p>

<h2 class="c-heading c-heading--medium">Basic Tabs</h2>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 letter-box--small">
		<div class="c-tabs">
			<div class="c-tabs__headings">
				<div class="c-tab-heading c-tab-heading--active">One</div>
				<div class="c-tab-heading c-tab-heading--disabled">Disabled</div>
				<div class="c-tab-heading">Three</div>
			</div>
			<div class="c-tabs__tab c-tabs__tab--active">This is tab one</div>
			<div class="c-tabs__tab">This is tab two</div>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="c-tabs">
  &lt;div class="c-tabs__headings">
    &lt;div class="c-tab-heading c-tab-heading--active">One&lt;/div>
    &lt;div class="c-tab-heading c-tab-heading--disabled">Disabled&lt;/div>
    &lt;div class="c-tab-heading">Inactive&lt;/div>
  &lt;/div>
  &lt;div class="c-tabs__tab c-tabs__tab--active">This is tab one&lt;/div>
  &lt;div class="c-tabs__tab">This is tab two&lt;/div>
&lt;/div></code></pre></div>
</div>

<h2 id="colours" class="c-heading c-heading--medium">Colours</h2>

<div class="c-tabs c-tabs--primary">
	<div class="c-tabs__headings">
		<div class="c-tab-heading c-tab-heading--active"><code class="code">.tabs--primary</code></div>
		<div class="c-tab-heading c-tab-heading--disabled">Disabled</div>
		<div class="c-tab-heading">Default</div>
	</div>
</div>
<div class="c-tabs c-tabs--secondary">
	<div class="c-tabs__headings">
		<div class="c-tab-heading c-tab-heading--active"><code class="code">.tabs--secondary</code></div>
		<div class="c-tab-heading c-tab-heading--disabled">Disabled</div>
		<div class="c-tab-heading">Default</div>
	</div>
</div>
<div class="c-tabs c-tabs--success">
	<div class="c-tabs__headings">
		<div class="c-tab-heading c-tab-heading--active"><code class="code">.tabs--success</code></div>
		<div class="c-tab-heading c-tab-heading--disabled">Disabled</div>
		<div class="c-tab-heading">Default</div>
	</div>
</div>
<div class="c-tabs c-tabs--error">
	<div class="c-tabs__headings">
		<div class="c-tab-heading c-tab-heading--active"><code class="code">.tabs--error</code></div>
		<div class="c-tab-heading c-tab-heading--disabled">Disabled</div>
		<div class="c-tab-heading">Default</div>
	</div>
</div>


<h2 id="animation" class="c-heading c-heading--medium">Animation</h2>

<div class="c-tabs c-tabs--primary a-tabs a-tabs--slow" id="animate">
	<div class="c-tabs__headings">
		<div class="c-tab-heading c-tab-heading--active js-tab-one">Tab one</div>
		<div class="c-tab-heading js-tab-two">Tab two</div>
	</div>
</div>

<div class="u-letter-box--medium">
	<button class="c-button c-button--ghost-secondary" type="button" onclick="demo()">Animate</button>
</div>

<script>
	function demo() {
		document.querySelector('.js-tab-one').classList.toggle('c-tab-heading--active');
		document.querySelector('.js-tab-two').classList.toggle('c-tab-heading--active');
	}
</script>

<h3 class="c-heading c-heading--small c-text--mono">.a-tabs</h3>
<p class="c-paragraph">
	Apply the <code class="c-code">.a-tabs</code> class to the <code class="c-code">.c-tabs</code> block
	to enable animation on the tab headings elements.
</p>

<h3 class="c-heading c-heading--small"><span class="c-text--mono">--slow, --fast</span></h3>
<p class="c-paragraph">
	Every animation comes with slow and fast modifiers.
</p>