---
layout: page
title: Tabs
---

<p class="paragraph">
	Tabbed content, useful to toggle between content without jumping around the page or across pages.
</p>

<h2 class="heading heading--medium">Basic Tabs</h2>
<div class="grid grid--small-full">
	<div class="grid__cell grid__cell--width-50 letter-box--small">
		<div class="tabs">
			<div class="tabs__headings">
				<div class="tab-heading tab-heading--active">One</div>
				<div class="tab-heading tab-heading--disabled">Disabled</div>
				<div class="tab-heading">Three</div>
			</div>
			<div class="tabs__tab tabs__tab--active">This is tab one</div>
			<div class="tabs__tab">This is tab two</div>
		</div>
	</div>
	<div class="grid__cell grid__cell--width-50 letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="tabs">
  &lt;div class="tabs__headings">
    &lt;div class="tab-heading tab-heading--active">One&lt;/div>
    &lt;div class="tab-heading tab-heading--disabled">Disabled&lt;/div>
    &lt;div class="tab-heading">Three&lt;/div>
  &lt;/div>
  &lt;div class="tabs__tab tabs__tab--active">This is tab one&lt;/div>
  &lt;div class="tabs__tab">This is tab two&lt;/div>
&lt;/div></code></pre></div>
</div>

<h2 class="heading heading--medium">Colours</h2>

<div class="tabs tabs--primary">
	<div class="tabs__headings">
		<div class="tab-heading tab-heading--active"><code class="code">.tabs--primary</code></div>
		<div class="tab-heading tab-heading--disabled">Disabled</div>
		<div class="tab-heading">Three</div>
	</div>
</div>
<div class="tabs tabs--secondary">
	<div class="tabs__headings">
		<div class="tab-heading tab-heading--active"><code class="code">.tabs--secondary</code></div>
		<div class="tab-heading tab-heading--disabled">Disabled</div>
		<div class="tab-heading">Three</div>
	</div>
</div>
<div class="tabs tabs--success">
	<div class="tabs__headings">
		<div class="tab-heading tab-heading--active"><code class="code">.tabs--success</code></div>
		<div class="tab-heading tab-heading--disabled">Disabled</div>
		<div class="tab-heading">Three</div>
	</div>
</div>
<div class="tabs tabs--error">
	<div class="tabs__headings">
		<div class="tab-heading tab-heading--active"><code class="code">.tabs--error</code></div>
		<div class="tab-heading tab-heading--disabled">Disabled</div>
		<div class="tab-heading">Three</div>
	</div>
</div>