---
layout: page
title: Tags
---

<p class="paragraph">
	Commonly used to add categories to blog posts, or topics to questions, tags are an alternative to the
	multi-select drop down component.
</p>

<div class="grid grid--small-full">
	<div class="grid__cell grid__cell--width-50 letter-box--small">
		<div class="tags">
			<span class="tags__container">
				<button type="button" class="button button--primary tag">
					Tag one
					<span class="tag__close">&times;</span>
				</button>
				<button type="button" class="button button--primary tag">
					Tag two
					<span class="tag__close">&times;</span>
				</button>
				<button type="button" class="button button--primary tag">
					Tag three
					<span class="tag__close">&times;</span>
				</button>
			</span>
			<div class="tags__field-container">
				<input class="field">
				<ul class="menu menu--high menu--visible">
					<li class="menu__item">Tag four</li>
					<li class="menu__item">Tag five</li>
					<li class="menu__item">Tag six</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="grid__cell grid__cell--width-50 letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="tags">
  &lt;span class="tags__container">
    &lt;button type="button" class="button button--primary tag">Tag one
      &lt;span class="tag__close">&times;&lt;/span>
    &lt;/button>
    &lt;button type="button" class="button button--primary tag">Tag two
      &lt;span class="tag__close">&times;&lt;/span>
    &lt;/button>
    &lt;button type="button" class="button button--primary tag">Tag three
      &lt;span class="tag__close">&times;&lt;/span>
    &lt;/button>
  &lt;/span>
  &lt;div class="tags__field-container">
    &lt;input class="field">
    &lt;ul class="menu menu--high menu--visible">
      &lt;li class="menu__item">Tag four&lt;/li>
      &lt;li class="menu__item">Tag five&lt;/li>
      &lt;li class="menu__item">Tag six&lt;/li>
    &lt;/ul>
  &lt;/div>
&lt;/div></code></pre></div>
</div>