---
layout: page
title: Tags
---

<p class="c-paragraph">
	Commonly used to add categories to blog posts, or topics to questions, c-tags are an alternative to the
	multi-select drop down component.
</p>

<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<div class="c-tags">
			<span class="c-tags__container">
				<button type="button" class="c-button c-button--primary c-tag">
					Tag one
					<span class="c-tag__close">&times;</span>
				</button>
				<button type="button" class="c-button c-button--primary c-tag">
					Tag two
					<span class="c-tag__close">&times;</span>
				</button>
				<button type="button" class="c-button c-button--primary c-tag">
					Tag three
					<span class="c-tag__close">&times;</span>
				</button>
			</span>
			<div class="c-tags__field-container">
				<input class="c-field">
				<ul class="c-menu c-menu--high c-menu--visible">
					<li class="c-menu__item">Tag four</li>
					<li class="c-menu__item">Tag five</li>
					<li class="c-menu__item">Tag six</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="c-tags">
  &lt;span class="c-tags__container">
    &lt;button type="button" class="c-button c-button--primary c-tag">Tag one
      &lt;span class="c-tag__close">&times;&lt;/span>
    &lt;/button>
    &lt;button type="button" class="c-button c-button--primary c-tag">Tag two
      &lt;span class="c-tag__close">&times;&lt;/span>
    &lt;/button>
    &lt;button type="button" class="c-button c-button--primary c-tag">Tag three
      &lt;span class="c-tag__close">&times;&lt;/span>
    &lt;/button>
  &lt;/span>
  &lt;div class="c-tags__field-container">
    &lt;input class="c-field">
    &lt;ul class="c-menu c-menu--high c-menu--visible">
      &lt;li class="c-menu__item">Tag four&lt;/li>
      &lt;li class="c-menu__item">Tag five&lt;/li>
      &lt;li class="c-menu__item">Tag six&lt;/li>
    &lt;/ul>
  &lt;/div>
&lt;/div></code></pre></div>
</div>