---
layout: page
title: Toasts
---

<p class="paragraph">
	Toasts or growls usually appear in one of the corners of your page to draw your attention to something that has happened.
</p>

<div class="grid grid--small-full">
	<div class="grid__cell letter-box--small toast-demo">
		<div class="toasts toasts--topleft">
			<div class="toast">Default</div>
			<div class="toast toast--primary">Primary</div>
			<div class="toast toast--secondary">Secondary</div>
			<div class="toast toast--success">Success</div>
			<div class="toast toast--error">Error</div>
		</div>
	</div>
	<div class="grid__cell letter-box--small"><pre class="pre html"><code class="code code--multiline">&lt;div class="toasts toasts--topleft">
  &lt;div class="toast">Default&lt;/div>
  &lt;div class="toast toast--primary">Primary&lt;/div>
  &lt;div class="toast toast--secondary">Secondary&lt;/div>
  &lt;div class="toast toast--success">Success&lt;/div>
  &lt;div class="toast toast--error">Error&lt;/div>
&lt;/div></code></pre></div>
</div>

<h2 class="heading heading--medium">Positions</h2>
<p class="paragraph">
	Toasts can appear in either of the corners of the page
</p>
<h3 class="heading heading--small mono">.toatst--topleft</h3>
<div class="toast-demo">
	<div class="toasts toasts--topleft">
		<div class="toast">Default</div>
	</div>
</div>

<h3 class="heading heading--small mono">.toatst--topright</h3>
<div class="toast-demo">
	<div class="toasts toasts--topright">
		<div class="toast">Default</div>
	</div>
</div>

<h3 class="heading heading--small mono">.toatst--bottomright</h3>
<div class="toast-demo">
	<div class="toasts toasts--bottomright">
		<div class="toast">Default</div>
	</div>
</div>

<h3 class="heading heading--small mono">.toatst--bottomleft</h3>
<div class="toast-demo">
	<div class="toasts toasts--bottomleft">
		<div class="toast">Default</div>
	</div>
</div>