---
layout: page
title: Toggles
---

<p class="c-paragraph">
	Checkboxes are pretty ugly. So let's make them pretty.
</p>

<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50">
		<label class="c-toggle">
			<input type="checkbox" checked>
			<div class="c-toggle__track">
				<div class="c-toggle__handle"></div>
			</div>
			.c-toggle
		</label>
		<label class="c-toggle c-toggle--primary">
			<input type="checkbox" checked>
			<div class="c-toggle__track">
				<div class="c-toggle__handle"></div>
			</div>
			.c-toggle .c-toggle--primary
		</label>
		<label class="c-toggle c-toggle--secondary">
			<input type="checkbox" checked>
			<div class="c-toggle__track">
				<div class="c-toggle__handle"></div>
			</div>
			.c-toggle .c-toggle--secondary
		</label>
		<label class="c-toggle c-toggle--success">
			<input type="checkbox" checked>
			<div class="c-toggle__track">
				<div class="c-toggle__handle"></div>
			</div>
			.c-toggle .c-toggle--success
		</label>
		<label class="c-toggle c-toggle--error">
			<input type="checkbox" checked>
			<div class="c-toggle__track">
				<div class="c-toggle__handle"></div>
			</div>
			.c-toggle .c-toggle--error
		</label>
		<label class="c-toggle c-toggle--primary">
			<input type="checkbox" disabled>
			<div class="c-toggle__track">
				<div class="c-toggle__handle"></div>
			</div>
			.c-toggle[disabled]
		</label>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--large"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;label class="c-toggle c-toggle--primary">
  &lt;input type="checkbox" checked>
  &lt;div class="c-toggle__track">
    &lt;div class="c-toggle__handle">&lt;/div>
  &lt;/div>
  .c-toggle .c-toggle--primary
&lt;/label></code></pre></div>
</div>

<h2 id="animation" class="c-heading c-heading--medium">Animation</h2>

<label class="c-toggle c-toggle--success a-toggle">
	<input type="checkbox" checked>
	<div class="c-toggle__track">
		<div class="c-toggle__handle"></div>
	</div>
</label>

<h3 class="c-heading c-heading--small c-text--mono">.a-toggle</h3>
<p class="c-paragraph">
	Apply the <code class="c-code">.a-toggle</code> class to enable animation on the toggle when it moves.
</p>

<h3 class="c-heading c-heading--small"><span class="c-text--mono">--slow, --fast</span></h3>
<p class="c-paragraph">
	Every animation comes with slow and fast modifiers.
</p>
