---
layout: page
title: Toggles
---

<p class="paragraph">
	Checkboxes are pretty ugly. So let's make them pretty.
</p>

<div class="grid grid--small-full">
	<div class="grid__cell">
		<div class="toggle letter-box--medium">
			<label class="toggle__wrapper">
				<code class="code">.toggle</code>
				<input type="checkbox" checked>

				<div class="toggle__track">
					<div class="toggle__handle"></div>
				</div>
			</label>
		</div>
		<div class="toggle toggle--primary letter-box--medium">
			<label class="toggle__wrapper">
				<code class="code">.toggle--primary</code>
				<input type="checkbox" checked>

				<div class="toggle__track">
					<div class="toggle__handle"></div>
				</div>
			</label>
		</div>
		<div class="toggle toggle--success letter-box--medium">
			<label class="toggle__wrapper">
				<code class="code">.toggle--success</code>
				<input type="checkbox" checked>

				<div class="toggle__track">
					<div class="toggle__handle"></div>
				</div>
			</label>
		</div>
		<div class="toggle toggle--success letter-box--medium">
			<label class="toggle__wrapper">
				<code class="code">.toggle--success</code>
				<input type="checkbox" checked>

				<div class="toggle__track">
					<div class="toggle__handle"></div>
				</div>
			</label>
		</div>
		<div class="toggle toggle--error letter-box--medium">
			<label class="toggle__wrapper">
				<code class="code">.toggle--error</code>
				<input type="checkbox" checked>

				<div class="toggle__track">
					<div class="toggle__handle"></div>
				</div>
			</label>
		</div>
		<div class="toggle toggle--error letter-box--medium">
			<label class="toggle__wrapper">
				Disabled
				<input type="checkbox" disabled>

				<div class="toggle__track">
					<div class="toggle__handle"></div>
				</div>
			</label>
		</div>
		<div class="toggle toggle--right toggle--primary letter-box--medium">
			<label class="toggle__wrapper">
				<code class="code">.toggle--right</code>
				<input type="checkbox" checked>

				<div class="toggle__track">
					<div class="toggle__handle"></div>
				</div>
			</label>
		</div>
	</div>
	<div class="grid__cell letter-box--large"><pre class="pre html"><code class="code code--multiline">&lt;div class="toggle toggle--primary">
  &lt;label class="toggle__wrapper">
    &lt;input type="checkbox" checked>
    &lt;div class="toggle__track">
      &lt;div class="toggle__handle">&lt;/div>
    &lt;/div>
  &lt;/label>
&lt;/div></code></pre></div>
</div>
