---
layout: page
title: Toggles
---

<p class="c-paragraph">
	Checkboxes are pretty ugly. So let's make them pretty.
</p>

<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50">
		<div class="c-toggle u-letter-box--medium">
			<label class="c-toggle__wrapper">
				<code class="c-code">.c-toggle</code>
				<input type="checkbox" checked>

				<div class="c-toggle__track">
					<div class="c-toggle__handle"></div>
				</div>
			</label>
		</div>
		<div class="c-toggle c-toggle--primary u-letter-box--medium">
			<label class="c-toggle__wrapper">
				<code class="c-code">.c-toggle--primary</code>
				<input type="checkbox" checked>

				<div class="c-toggle__track">
					<div class="c-toggle__handle"></div>
				</div>
			</label>
		</div>
		<div class="c-toggle c-toggle--success u-letter-box--medium">
			<label class="c-toggle__wrapper">
				<code class="c-code">.c-toggle--success</code>
				<input type="checkbox" checked>

				<div class="c-toggle__track">
					<div class="c-toggle__handle"></div>
				</div>
			</label>
		</div>
		<div class="c-toggle c-toggle--success u-letter-box--medium">
			<label class="c-toggle__wrapper">
				<code class="c-code">.c-toggle--success</code>
				<input type="checkbox" checked>

				<div class="c-toggle__track">
					<div class="c-toggle__handle"></div>
				</div>
			</label>
		</div>
		<div class="c-toggle c-toggle--error u-letter-box--medium">
			<label class="c-toggle__wrapper">
				<code class="c-code">.c-toggle--error</code>
				<input type="checkbox" checked>

				<div class="c-toggle__track">
					<div class="c-toggle__handle"></div>
				</div>
			</label>
		</div>
		<div class="c-toggle c-toggle--error u-letter-box--medium">
			<label class="c-toggle__wrapper">
				Disabled
				<input type="checkbox" disabled>

				<div class="c-toggle__track">
					<div class="c-toggle__handle"></div>
				</div>
			</label>
		</div>
		<div class="c-toggle c-toggle--right c-toggle--primary u-letter-box--medium">
			<label class="c-toggle__wrapper">
				<code class="c-code">.c-toggle--right</code>
				<input type="checkbox" checked>

				<div class="c-toggle__track">
					<div class="c-toggle__handle"></div>
				</div>
			</label>
		</div>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--large"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;div class="c-toggle c-toggle--primary">
  &lt;label class="c-toggle__wrapper">
    &lt;input type="checkbox" checked>
    &lt;div class="c-toggle__track">
      &lt;div class="c-toggle__handle">&lt;/div>
    &lt;/div>
  &lt;/label>
&lt;/div></code></pre></div>
</div>
