---
layout: page
title: Trees
---

<p class="c-paragraph">
	Expandable tree structure
</p>

<h2 class="c-heading c-heading--medium">Expandable and Expanded</h2>
<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<ul class="c-tree">
			<li class="c-tree__item c-tree__item--expandable"><span class="c-link">Directory 1</span></li>
			<li class="c-tree__item c-tree__item--expandable"><span class="c-link">Directory 2</span></li>
			<li class="c-tree__item c-tree__item--expanded"><span class="c-link">Directory 3</span>
				<ul class="c-tree">
					<li class="c-tree__item">File 1</li>
					<li class="c-tree__item">File 2</li>
					<li class="c-tree__item">File 3</li>
					<li class="c-tree__item">File 4</li>
				</ul>
			</li>
			</li>
			<li class="c-tree__item c-tree__item--expandable"><span class="c-link">Directory 4</span></li>
			<li class="c-tree__item c-tree__item--expanded"><span class="c-link">Directory 5</span></li>
				<ul class="c-tree">
					<li class="c-tree__item c-text--quiet">(empty)</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small"><pre class="c-pre html"><code class="c-code c-code--multiline">&lt;ul class="c-tree">
  &lt;li class="c-tree__item c-tree__item--expandable">&lt;span class="c-link">Directory 1&lt;/span>&lt;/li>
  &lt;li class="c-tree__item c-tree__item--expandable">&lt;span class="c-link">Directory 2&lt;/span>&lt;/li>
  &lt;li class="c-tree__item c-tree__item--expanded">&lt;span class="c-link">Directory 3&lt;/span>
    &lt;ul class="c-tree">
      &lt;li class="c-tree__item">File 1&lt;/li>
      &lt;li class="c-tree__item">File 2&lt;/li>
      &lt;li class="c-tree__item">File 3&lt;/li>
      &lt;li class="c-tree__item">File 4&lt;/li>
    &lt;/ul>
  &lt;/li>
  &lt;/li>
  &lt;li class="c-tree__item c-tree__item--expandable">&lt;span class="c-link">Directory 4&lt;/span>&lt;/li>
  &lt;li class="c-tree__item c-tree__item--expanded">&lt;span class="c-link">Directory 5&lt;/span>&lt;/li>
  &lt;ul class="c-tree">
    &lt;li class="c-tree__item c-text--quiet">(empty)&lt;/li>
  &lt;/ul>
  &lt;/li>
&lt;/ul></code></pre></div>
</div>

<h2 id="animation" class="c-heading c-heading--medium">Animation</h2>

<div class="o-grid o-grid--small-full">
	<div class="o-grid__cell o-grid__cell--width-50 u-letter-box--small">
		<ul class="c-tree a-tree a-tree--slow">
			<li class="c-tree__item c-tree__item--expandable"><span class="c-link">Directory 1</span></li>
			<li class="c-tree__item c-tree__item--expandable"><span class="c-link">Directory 2</span></li>
			<li class="c-tree__item c-tree__item--expandable c-tree__item--expanded js-tree-node"><span class="c-link">Directory 3</span>
				<ul class="c-tree a-tree a-tree--slow">
					<li class="c-tree__item">File 1</li>
					<li class="c-tree__item">File 2</li>
					<li class="c-tree__item">File 3</li>
					<li class="c-tree__item">File 4</li>
				</ul>
			</li>
			</li>
			<li class="c-tree__item c-tree__item--expandable"><span class="c-link">Directory 4</span></li>
			<li class="c-tree__item c-tree__item--expanded"><span class="c-link">Directory 5</span></li>
			<ul class="c-tree">
				<li class="c-tree__item c-text--quiet">(empty)</li>
			</ul>
			</li>
		</ul>
	</div>
</div>

<button class="c-button c-button--ghost-secondary" type="button" onclick="demo()">Animate</button>

<script>
	var visible = 'block';
	function demo() {
		if (visible == 'block') visible = 'none';
		else visible = 'block';
		document.querySelector('.js-tree-node').classList.toggle('c-tree__item--expanded');
		document.querySelector('.js-tree-node .c-tree').style.display = visible;
	}
</script>

<h3 class="c-heading c-heading--small c-text--mono">.a-tree</h3>
<p class="c-paragraph">
	Apply the <code class="c-code">.a-tree</code> class to enable animation on the tree and all tree nodes.
</p>

<h3 class="c-heading c-heading--small"><span class="c-text--mono">--slow, --fast</span></h3>
<p class="c-paragraph">
	Every animation comes with slow and fast modifiers.
</p>