---
layout: template
title: App
---
<main class="o-grid o-grid--no-gutter o-panel">
	<div class="o-grid__cell--width-15 o-panel-container">
		<nav class="c-nav o-panel">
			<div class="c-nav__content">Logo</div>
			<div class="c-nav__item">Item</div>
			<div class="c-nav__item">Item</div>
			<div class="c-nav__item">Item</div>
			<div class="c-nav__item">Item</div>
			<div class="c-nav__item">Item</div>
			<div class="c-nav__item">Item</div>
		</nav>
	</div>
	<div class="o-grid__cell--width-85 o-panel-container">
		<nav class="c-nav c-nav--inline c-nav--light">
			<span class="c-nav__item">Item</span>
			<span class="c-nav__item">Item</span>
			<span class="c-nav__item c-nav__item--right">Item</span>
			<span class="c-nav__item c-nav__item--right">Item</span>
		</nav>
		<div class="o-panel o-panel--nav-top">
			Content
		</div>
	</div>
</main>