---
layout: template
title: Blog
---
<style>
	.c-hero {
		border-bottom: 1px solid #e7e7e7;
		background-color: #f7f7f7;
	}
</style>
<header>
	<nav class="c-nav c-nav--inline c-nav--high">
		<span class="c-nav__item" onclick="history.back()">Home</span>
		<span class="c-nav__item">Posts</span>
		<span class="c-nav__item c-nav__item--right">About</span>
	</nav>
	<div class="c-hero u-letter-box--super u-centered">
		<h1 class="c-heading c-heading--xlarge u-window-box--none">Welcome</h1>
		<h2 class="c-heading c-heading--small u-window-box--none c-text--quiet">Simple Blog Template</h2>
	</div>
</header>
<main class="o-container o-container--large u-pillar-box--small">
	<section class="u-letter-box--super">
		<!-- GRID -->
		<div class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full">
			<!-- CELL -->
			<div class="o-grid__cell o-grid__cell--width-40 u-centered">
				<img class="o-image" src="https://unsplash.it/500/300/?image=961">
			</div>
			<!-- CELL -->
			<div class="o-grid__cell o-grid__cell--width-60">
				<h3 class="c-heading c-heading--medium">
					Blog post title
					<span class="c-heading__sub">{{ site.time | date: '%d/%m/%Y' }}</span>
				</h3>
				<p class="c-paragraph">
					Patagonia is the perfect vacation spot for outdoorsy types, with its many glaciers and tiny, remote villages
					scattered all throughout. This region is worth taking your time to see and there are tons of amazing spots to
					visit. Here are 18 of the best natural spots to visit...<a href="#" class="c-link">Read more</a>
				</p>
			</div>
		</div>
	</section>
	<section class="u-letter-box--super">
		<!-- GRID -->
		<div class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full">
			<!-- CELL -->
			<div class="o-grid__cell o-grid__cell--width-40 u-centered">
				<img class="o-image" src="https://unsplash.it/500/300/?image=916">
			</div>
			<!-- CELL -->
			<div class="o-grid__cell o-grid__cell--width-60">
				<h3 class="c-heading c-heading--medium">
					Blog post title
					<span class="c-heading__sub">{{ site.time | date: '%d/%m/%Y' }}</span>
				</h3>
				<p class="c-paragraph">
					Patagonia is the perfect vacation spot for outdoorsy types, with its many glaciers and tiny, remote villages
					scattered all throughout. This region is worth taking your time to see and there are tons of amazing spots to
					visit. Here are 18 of the best natural spots to visit...<a href="#" class="c-link">Read more</a>
				</p>
			</div>
		</div>
	</section>
	<section class="u-letter-box--super">
		<!-- GRID -->
		<div class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full">
			<!-- CELL -->
			<div class="o-grid__cell o-grid__cell--width-40 u-centered">
				<img class="o-image" src="https://unsplash.it/500/300/?image=883">
			</div>
			<!-- CELL -->
			<div class="o-grid__cell o-grid__cell--width-60">
				<h3 class="c-heading c-heading--medium">
					Blog post title
					<span class="c-heading__sub">{{ site.time | date: '%d/%m/%Y' }}</span>
				</h3>
				<p class="c-paragraph">
					Patagonia is the perfect vacation spot for outdoorsy types, with its many glaciers and tiny, remote villages
					scattered all throughout. This region is worth taking your time to see and there are tons of amazing spots to
					visit. Here are 18 of the best natural spots to visit...<a href="#" class="c-link">Read more</a>
				</p>
			</div>
		</div>
	</section>
	<section class="u-letter-box--super">
		<!-- GRID -->
		<div class="o-grid o-grid--xsmall-full o-grid--small-full o-grid--medium-full">
			<!-- CELL -->
			<div class="o-grid__cell o-grid__cell--width-40 u-centered">
				<img class="o-image" src="https://unsplash.it/500/300/?image=903">
			</div>
			<!-- CELL -->
			<div class="o-grid__cell o-grid__cell--width-60">
				<h3 class="c-heading c-heading--medium">
					Blog post title
					<span class="c-heading__sub">{{ site.time | date: '%d/%m/%Y' }}</span>
				</h3>
				<p class="c-paragraph">
					Patagonia is the perfect vacation spot for outdoorsy types, with its many glaciers and tiny, remote villages
					scattered all throughout. This region is worth taking your time to see and there are tons of amazing spots to
					visit. Here are 18 of the best natural spots to visit...<a href="#" class="c-link">Read more</a>
				</p>
			</div>
		</div>
	</section>
</main>