---
layout: template
title: Dashboard
---
<style>
	.c-highlight {
		color: #4783ab;
		text-align: center;
		font-size: 2em;
	}

	.t-secondary {
		background-color: #eaeae2;
		margin-top: 1em;
	}

	.c-card.t-demo {
		background-color: #fff;
	}
</style>
<nav class="c-nav c-nav--inline">
	<a href="#" class="c-nav__item c-text--loud">My Dashboard</a>
	<a href="#" class="c-nav__item c-nav__item--right"><i class="fa fa-user"></i> Account</a>
	<a href="#" class="c-nav__item c-nav__item--right"><i class="fa fa-life-ring"></i> Help/Support</a>
	<a href="#" class="c-nav__item c-nav__item--right"><i class="fa fa-sliders"></i> Settings</a>
</nav>
<div class="o-grid o-panel o-panel--nav-top">
	<div class="o-grid__cell--width-15 o-grid__cell--hidden o-grid__cell--visible@large o-panel-container">
		<nav class="c-nav c-nav--light o-panel">
			<div class="c-nav__item">Reports</div>
			<div class="c-nav__item">Analytics</div>
			<div class="c-nav__item">Data Gathering</div>
		</nav>
	</div>
	<main class="o-grid__cell o-grid__cell--width-85@large o-panel-container">
		<div class="o-grid o-grid--wrap o-panel">
			<div class="o-grid__cell o-grid__cell--width-100">
				<h1 class="c-heading c-heading--medium">
					Total number of items per group
				</h1>
			</div>
			<div class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-60@large">
				<canvas id="barChart"></canvas>
			</div>
			<div class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-40@large">
				<canvas id="doughnutChart"></canvas>
				<h2 class="c-heading c-heading--medium c-highlight">
					<i class="fa fa-trophy"></i> 4,239
					<span class="c-heading__sub">Achievement points</span>
				</h2>
			</div>
			<div class="o-grid__cell o-grid__cell--width-100 t-secondary">
				<div class="o-grid o-grid--wrap">
					<div class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-33@large">
						<h3 class="c-heading c-heading--small">Next Goals</h3>
						<div class="c-card t-demo">
							<div class="c-card__content">
								<p class="c-paragraph c-text--loud">Gain more items and add them to the total</p>
								<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
									et.</p>
							</div>
						</div>
						<div class="c-card t-demo">
							<div class="c-card__content">
								<p class="c-paragraph c-text--loud">Max out the number of items</p>
								<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
									et.</p>
							</div>
						</div>
					</div>
					<div class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-66@large">
						<h3 class="c-heading c-heading--small">Notifications</h3>
						<div class="c-alerts a-alerts">
							<div class="c-alerts__alert c-alerts__alert--secondary">
								<button class="c-button c-button--close">×</button>
								Not all data available for <strong class="u-text--loud">4th June 2016</strong>
							</div>
							<div class="c-alerts__alert c-alerts__alert--success">
								<button class="c-button c-button--close">×</button>
								New user added - (dexter@another.com)
							</div>
							<div class="c-alerts__alert c-alerts__alert--primary">
								<button class="c-button c-button--close">×</button>
								Goal reached on 28th May 2016!
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.js"></script>
	<script>
		new Chart(document.getElementById("barChart"), {
			type: 'bar',
			data: {
				labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
				datasets: [{
					data: [12, 19, 3, 5, 2, 3],
					backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(75, 192, 192, 0.2)',
						'rgba(153, 102, 255, 0.2)',
						'rgba(255, 159, 64, 0.2)'
					],
					borderColor: [
						'rgb(255,99,132)',
						'rgb(54, 162, 235)',
						'rgb(255, 206, 86)',
						'rgb(75, 192, 192)',
						'rgb(153, 102, 255)',
						'rgb(255, 159, 64)'
					],
					borderWidth: 1
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: true
						}
					}]
				},
				legend: {
					display: false
				}
			}
		});
		new Chart(document.getElementById('doughnutChart'), {
			type: 'doughnut',
			data: {
				labels: [
					"Red",
					"Blue",
					"Yellow",
					"Green",
					"Purple",
					"Orange"
				],
				datasets: [
					{
						data: [12, 19, 3, 5, 2, 3],
						backgroundColor: [
							'rgba(255, 99, 132, 0.8)',
							'rgba(54, 162, 235, 0.8)',
							'rgba(255, 206, 86, 0.8)',
							'rgba(75, 192, 192, 0.8)',
							'rgba(153, 102, 255, 0.8)',
							'rgba(255, 159, 64, 0.8)'
						]
					}]
			},
			options: {
				legend: {
					display: false
				}
			}
		});
	</script>