---
layout: template
title: Dashboard
---
<style>
	.c-nav.t-demo {
		display: none;
		position: fixed;
		top: 3.5em;
		left: 0;
		width: 10em;
		bottom: 0;
		background-color: #f2f2ea;
	}

	.o-app {
		position: absolute;
		top: 3.5em; /* With navbar at top */
		right: 0;
		bottom: 0;
		left: 0;
		overflow: auto;
	}

	@media (min-width: 48em) {
		.c-nav.t-demo {
			display: block;
		}

		.o-app {
			left: 10em;
		}
	}

	.c-nav.t-demo .c-nav__item {
		color: #444;
	}

	.c-nav.t-demo .c-nav__item:hover {
		color: #fff;
	}

	.c-highlight {
		color: #4783ab;
		text-align: center;
		font-size: 2em;
	}

	.o-secondary {
		background-color: #eaeae2;
		margin-top: 1em;
	}

	.c-card.t-demo {
		background-color: #fff;
		border-left: 3px solid #66bb6a;
	}
</style>
<header>
	<nav class="c-nav c-nav--inline">
		<span class="c-nav__item c-text--loud">My Dashboard</span>
		<span class="c-nav__item c-nav__item--right"><i class="fa fa-user"></i> Account</span>
		<span class="c-nav__item c-nav__item--right"><i class="fa fa-life-ring"></i> Help/Support</span>
		<span class="c-nav__item c-nav__item--right"><i class="fa fa-sliders"></i> Settings</span>
	</nav>
</header>
<nav class="c-nav t-demo">
	<div class="c-nav__item">Reports</div>
	<div class="c-nav__item">Analytics</div>
	<div class="c-nav__item">Data Gathering</div>
</nav>
<main class="o-app u-pillar-box--medium">
	<h1 class="c-heading c-heading--medium">
		Total number of items per group
	</h1>
	<div class="o-grid o-grid--wrap">
		<div class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-60@large">
			<canvas id="barChart"></canvas>
		</div>
		<div class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-40@large">
			<canvas id="doughnutChart"></canvas>
			<h2 class="c-heading c-heading--medium c-highlight">
				<i class="fa fa-trophy"></i> 4,239
				<span class="c-heading__sub">Achievement points</span>
			</h2>
		</div>
	</div>
	<div class="o-grid o-grid--wrap o-secondary u-window-box--medium">
		<div class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-33@large">
			<h3 class="c-heading c-heading--small">Next Goals</h3>
			<div class="c-card t-demo">
				<div class="c-card__content">
					<p class="c-paragraph c-text--loud">Gain more items and add them to the total</p>
					<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
						et.</p>
				</div>
			</div>
			<div class="c-card t-demo">
				<div class="c-card__content">
					<p class="c-paragraph c-text--loud">Max out the number of items</p>
					<p class="c-paragraph">Lorem ipsum dolor sit amet, feugiat corpora ex eam. Inciderint eloquentiam sea
						et.</p>
				</div>
			</div>
		</div>
		<div class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-66@large">
			<h3 class="c-heading c-heading--small">Notifications</h3>
			<div class="c-alerts a-alerts">
				<div class="c-alerts__alert c-alerts__alert--secondary">
					<button class="c-button c-button--close">×</button>
					Not all data available for <strong class="u-text--loud">4th June 2016</strong>
				</div>
				<div class="c-alerts__alert c-alerts__alert--success">
					<button class="c-button c-button--close">×</button>
					New user added - (dexter@another.com)
				</div>
				<div class="c-alerts__alert c-alerts__alert--primary">
					<button class="c-button c-button--close">×</button>
					Goal reached on 28th May 2016!
				</div>
			</div>
		</div>
	</div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.js"></script>
<script>
	new Chart(document.getElementById("barChart"), {
		type: 'bar',
		data: {
			labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
			datasets: [{
				data: [12, 19, 3, 5, 2, 3],
				backgroundColor: [
					'rgba(255, 99, 132, 0.2)',
					'rgba(54, 162, 235, 0.2)',
					'rgba(255, 206, 86, 0.2)',
					'rgba(75, 192, 192, 0.2)',
					'rgba(153, 102, 255, 0.2)',
					'rgba(255, 159, 64, 0.2)'
				],
				borderColor: [
					'rgb(255,99,132)',
					'rgb(54, 162, 235)',
					'rgb(255, 206, 86)',
					'rgb(75, 192, 192)',
					'rgb(153, 102, 255)',
					'rgb(255, 159, 64)'
				],
				borderWidth: 1
			}]
		},
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			},
			legend: {
				display: false
			}
		}
	});
	new Chart(document.getElementById('doughnutChart'), {
		type: 'doughnut',
		data: {
			labels: [
				"Red",
				"Blue",
				"Yellow",
				"Green",
				"Purple",
				"Orange"
			],
			datasets: [
				{
					data: [12, 19, 3, 5, 2, 3],
					backgroundColor: [
						'rgba(255, 99, 132, 0.8)',
						'rgba(54, 162, 235, 0.8)',
						'rgba(255, 206, 86, 0.8)',
						'rgba(75, 192, 192, 0.8)',
						'rgba(153, 102, 255, 0.8)',
						'rgba(255, 159, 64, 0.8)'
					]
				}]
		},
		options: {
			legend: {
				display: false
			}
		}
	});
</script>