---
layout: template
title: Editor
---
<style>
	.c-editor {
		font-family: monospace;
		border: 0;
	}
</style>
<main>
	<div class="c-tabs c-tabs--primary a-tabs">
		<div class="c-tabs__headings">
			<div class="c-tab-heading c-tab-heading--active" onclick="toggleTabs()">Editor</div>
			<div class="c-tab-heading" onclick="toggleTabs()">Output</div>
		</div>
		<div class="c-tabs__tab c-tabs__tab--active">
	<textarea class="c-field c-field--large c-editor o-panel o-panel--nav-top o-panel--nav-bottom">
An h1 header
============

Paragraphs are separated by a blank line.

2nd paragraph. *Italic*, **bold**, and `monospace`. Itemized lists
look like:

  * this one
  * that one
  * the other one

If you want to quote someone this is how you do it:

> Block quotes are
> written like so.
>
> They can span multiple paragraphs,
> if you like.
	</textarea>
		</div>
		<div class="c-tabs__tab o-panel o-panel--nav-top o-panel--nav-bottom">
			<h1 class="c-heading c-heading--large">An h1 header</h1>
			<p class="c-paragraph">
				Paragraphs are separated by a blank line.
			</p>
			<p class="c-paragraph">
				2nd paragraph. <em>Italic</em>, <strong class="c-text--loud">blod</strong>, and <code class="c-text--mono">monospace</code>.
				Itemized lists look like:
			</p>
			<ul class="c-list">
				<li class="c-list__item">this one</li>
				<li class="c-list__item">that one</li>
				<li class="c-list__item">the other one</li>
			</ul>
			<p class="c-paragraph">
				If you want to quote someone this is how you do it:
			</p>
			<blockquote class="c-blockquote">
				<div class="c-blockquote__body">
					Block quotes are written like so.
				</div>
				<div class="c-blockquote__body">
					They can span multiple paragraphs, if you like.
				</div>
			</blockquote>
		</div>
	</div>
	<nav class="c-nav c-nav--inline c-nav--bottom">
		<span class="c-nav__item"><i class="fa fa-save"></i></span>
		<span class="c-nav__item"><i class="fa fa-code-fork"></i></span>
		<span class="c-nav__item c-nav__item--right"><i class="fa fa-underline"></i></span>
		<span class="c-nav__item c-nav__item--right"><i class="fa fa-italic"></i></span>
		<span class="c-nav__item c-nav__item--right"><i class="fa fa-bold"></i></span>
	</nav>
</main>
<script>
	function toggleTabs() {
		for (var i = 0, heading; heading = document.querySelectorAll('.c-tab-heading')[i]; i++) {
			heading.classList.toggle('c-tab-heading--active')
		}
		for (var i = 0, tab; tab = document.querySelectorAll('.c-tabs__tab')[i]; i++) {
			tab.classList.toggle('c-tabs__tab--active')
		}
	}
</script>