---
layout: page
title: Example Templates
---

<p class="c-paragraph">
	We've created a set of templates to showcase how our layouts and components can work together.
</p>
<div class="o-grid o-grid--wrap">
	<div class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-50@small o-grid__cell--width-33@large">
		<h2 class="c-heading c-heading--small">Blog</h2>
		<a href="/templates/blog"><img class="o-image" src="/images/blog.png"></a>
	</div>
	<div class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-50@small o-grid__cell--width-33@large">
		<h2 class="c-heading c-heading--small">Login</h2>
		<a href="/templates/login"><img class="o-image" src="/images/login.png"></a>
	</div>
	<div class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-50@small o-grid__cell--width-33@large">
		<h2 class="c-heading c-heading--small">Markdown</h2>
		<a href="/templates/editor"><img class="o-image" src="/images/editor.png"></a>
	</div>
	<div class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-45@large">
		<h2 class="c-heading c-heading--small">Dashboard</h2>
		<a href="/templates/dashboard"><img class="o-image" src="/images/dashboard.png"></a>
	</div>
	<div class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-55@large">
		<h2 class="c-heading c-heading--small">Mail</h2>
		<a href="/templates/mail"><img class="o-image" src="/images/mail.png"></a>
	</div>
</div>
